<div class="row artisan-bootstrap-row">
  {% for item in site.data.impact %}
  {% for photo in item.photo_upload %}
  <div class="artisan-bootstrap-col">
    <div class="card h-100"  >
      <img src="{{ photo.url }}" class="card-img-top" alt="{{ item.full_name }}">
      <div class="card-body">
        <h5 class="card-title">{{ item.full_name }}</h5>
        <p>{{ item.team_page_byline }}</p>
        <a href="{{ item.linked_in }}" target="_blank">Follow on LinkedIn</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
