<div class="jumbotron background-white">
  {% include nav.html %}
  <div class="row align-items-center">
    <div class="col-md-8">
      <h1>Team</h1>
      <h4>The lovely folks who made all this possible</h4>
      <div class="d-flex help-button-group">
        <a  class="btn btn-primary btn-lg dark-purple"
            role="button"
            href="https://airtable.com/shr6r8e5dIaTfke5z/tbl1mR3hyIJoKxwox?blocks=hide"
            >
            <i class="fa fa-external-link-alt"></i>&nbsp;Volunteer
          </a>
      </div>
    </div>
  </div>
</div>
