<div class="card-deck">
  <div class="row row-cols-1 row-cols-md-2">
    {% for item in site.data.navigator %}
    {% for photo in item.photo_upload %}
    <div class="card teams-card">
      <img src="{{ photo.url }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ item.first_name }} {{ item.last_name }}</h5>
        <p>{{ item.team_page_project_byline }}</p>
        <a href="{{ item.linked_in }}" target="_blank">Follow on LinkedIn</a>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
