<div class="container">
  <div class= "row">
      {% for item in site.data.navigator %}
      {% for photo in item.photo_upload %}

      <div class="col-md-2">
      <div class="card" style="      display: flex;
      
      flex: 1 0 0%;
      flex-direction: column;
      margin-bottom: 0; 
      width: auto;
      height: auto;
      max-width: 200px;
      ">

      <img style="  display: block;
      padding: 20px;
      max-width:150px;
      max-height:150px;
      width: auto;
      height: auto;
      justify-content:center;
      margin-left:auto;
      margin-right:auto;" src="{{ photo.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.first_name }} {{ item.last_name }}</h5>
            <p>{{ item.team_page_project_byline }}</p>
            <a href="{{ item.linked_in }}" target="_blank">Follow on LinkedIn</a>
          </div>
        </div>
      </div>
  

  {% endfor %}
{% endfor %}
</div>
</div>
