<div class="jumbotron">
  <ul id="more-about-us-tab" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active"
        id="stories-tab"
        data-toggle="tab"
        href="#nav-stories"
      >
        Stories
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        id="press-tab"
        data-toggle="tab"
        href="#nav-press"
      >
        Press
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        id="team-tab"
        data-toggle="tab"
        href="#nav-team"
      >
        Team
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        id="partners-tab"
        data-toggle="tab"
        href="#nav-partners"
      >
        Partners
      </a>
    </li>
  </ul>
</div>