.env
.DS_Store
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_data/impact.json
_data/navigator.json
_data/organizer.json
_data/proj_lead.json
_data/special.json
_data/success.json
_data/community.json
_data/professional.json
_data/angel.json
_data/kind.json
_data/ally.json
_data/feature.json
