---
title: TEST
layout: default
---

<div class="container mt-3">

{% include teams/main-title.html %}
</div>

<div class="jumbotron mb-1">
  <div class="container mt-3">
  <h1>Project Leads</h1>
<div class="container margin-top">
  <div class="row">
    {% include teams/proj_leads.html %}
  </div>
</div>
</div>
</div>

<div class="jumbotron mb-1">
  <div class="container mt-3">
  <h1>Navigators</h1>
<div class="tab-pane show active" id="all" role="tabpanel" aria-labelledby="all-tab">
  <div class="row">
    {% include teams/navigators.html %}
  </div>
</div>
</div>
</div>

<div class="jumbotron mb-1">
  <div class="container mt-3">
  <h1>Organizers</h1>
<div class="tab-pane show active" id="all" role="tabpanel" aria-labelledby="all-tab">
  <div class="row">
    {% include teams/organizers.html %}
  </div>
</div>
</div>
</div>
