---
layout: default
title: Home
---
<div id="overlay" onclick="off()">
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find-help">Find Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://airtable.com/shrDrTCZQmDlCN8sg">
          Get Involved
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  {% include main-title.html %}
  <div class="jumbotron jumbotron-fluid">
    <div class="iframe-container embed-responsive embed-responsive-16by9">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcantstopcbus%2Fposts%2F108601760782766"
        class="embed-responsive-item"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allowfullscreen
        allow="encrypted-media"></iframe>
    </div>
  </div>
  {% include carousel.html %}
  {% include support.html %}
  {% include about.html %}
</div>
