---
layout: default
title: Home
---
<div id="overlay" onclick="off()">
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find-help">Find Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://airtable.com/shrDrTCZQmDlCN8sg">
          Get Involved
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  {% include main-title.html %}
  {% include donate.html %}
  {% include carousel.html %}
  {% include support.html %}
  {% include about.html %}
</div>
