---
title: Home
layout: default
---

<div class="banner d-flex justify-content-center">
  <p class="mb-0 p-2" style="color: #fff;">
    Celebrating National Doctor Day. Thank you to all our medical community
  </p>
</div>
<div class="container mt-3">
  {% include index/main-title.html %}
  {% include index/carousel.html %}
  {% include index/promohome.html %}
  {% include index/donate.html %}
  {% include index/support.html %}
  {% include index/about.html %}
  {% include index/social.html %}
  {% include index/contact-us.html %}
  {% include index/facebooklive.html %}
</div>
