---
title: Partners
layout: default
---

<div class="container mt-3">
  {% include teams/main-title.html %}

  <div class="jumbotron background-white">
    <h2>Featured Partners</h2>
    {% include partners/featured.html %}
  </div>

  <div class="jumbotron background-white">
     <h2>Community Partners</h2>
     {% include partners/community.html %}
   </div>

   <div class="jumbotron background-white">
     <h2>Professional Partners</h2>
     {% include partners/professional.html %}
   </div>

   <div class="jumbotron background-white">
     <h2>Angels</h2>
     {% include partners/angel.html %}
   </div>

   <div class="jumbotron background-white">
     <h2>InKind Angels</h2>
     {% include partners/kind.html %}
   </div>

   <div class="jumbotron background-white">
     <h2>Allies</h2>
     {% include partners/ally.html %}
   </div>
 </div>
