---
layout: default
---
<div class="container mt-3">
  {% include main-title.html %}
</div>
{% for post in site.posts offset: 0 limit: 1 %}
  <div class="blog-index-title">
    <h1 class="featured-blog-post-title">{{ post.title }}</h1>
    <a href="{{ post.url }}" class="read-featured-blog-post">Read</a>
  </div>
{% endfor %}
<div class="blogIndexWrapper">
  {% for post in site.posts %}
    <div class="blogPostContainer"
      <a href="{{ post.url }}" class="blogPostFeatImg" style="background-image: url('')"</a>
        <a href="" class="blogCategory">{{ post.categroies }}</a>
        <a href="{{ post.url }}" class="blogTitle">{{ post.title }}</a>
        <p class="blogExcerpt">{{ post.excerpt }}</p>
    </div>
  {% endfor %}
</div>
