---
title: TEST
layout: default
---

<div class="container mt-3">
  {% include teams/main-title.html %}

  <div class="jumbotron mb-1">
    <h2>Project Leads</h2>
    {% include teams/proj_leads.html %}
  </div>

  <div class="jumbotron mb-1">
    <h2>Navigators</h2>
    {% include teams/navigators.html %}
  </div>

  <div class="jumbotron mb-1">
    <h2>Project Success</h2>
    {% include teams/success.html %}
  </div>

  <div class="jumbotron mb-1">
    <h2>Organizers</h2>
    {% include teams/organizers.html %}
  </div>

  <div class="jumbotron mb-1">
    <h2>Impact</h2>
    {% include teams/impact.html %}
  </div>

  <div class="jumbotron mb-1">
    <h2>Special Thanks</h2>
    {% include teams/special.html %}
  </div>
</div>
