<div class="row artisan-ally-bootstrap-row" id="ally">
  {% for item in site.data.ally %}
  {% for photo in item.logo %}
  <div class="artisan-ally-bootstrap-col" >
    <a class="card-link text-info text-center mt-auto" href="{{ item.url }}" target="_blank">
    <div class="card h-100">
      <div class="embed-responsive embed-responsive-21by9">
          <img alt="{{ item.partner }}" class="sponsorlogo" src="{{ photo.url }}" />
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-link text-info text-center mt-auto">{{ item.partner }}</h5>
      </div>
    </div>
    </a>
  </div>
  {% endfor %}
{% endfor %}
</div>
