<div class="row artisan-featured-bootstrap-row">
  {% for item in site.data.feature %}
    {% for photo in item.logo %}
  <div class="artisan-featured-bootstrap-col" >
    <a class="card-link text-info" href="{{ item.url }}" target="_blank">
    <div class="card h-100">
      <div class="embed-responsive">
          <img alt="{{ item.partner }}" class="sponsorlogofeature" src="{{ photo.url }}" />
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-link text-info text-center mt-auto">{{ item.partner }}</h5>
      </div>
    </div>
    </a>
  </div>
  {% endfor %}
{% endfor %}
</div>
