<div class="jumbotron background-white">
  <div class="row">
    <div class="col-md-12">
      <h2>About <span class="purple-font">US</span></h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 on-sunday-march-15">
      <p>
        On Sunday, March 15, 2020, the Columbus, Ohio tech and business community started
        talking about the idea of a virtual hackathon in response to the Covid-19 situation.
        With social distancing, no school, remote work, and a sense of urgency, there’s a lot of
        energy focused on helping. We proposed an online hacking event where anyone can
        contribute by defining challenges, building projects, and sharing resources.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 on-sunday-march-15">
      <p>
        ...It's kinda grown from there.
      </p>
    </div>
  </div>
</div>