<div class="jumbotron text-center background-white">
  <br>
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">we're just getting started</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card-deck">
      <!-- <button class="btn btn-primary inverted-dark-purple" style="color:black; height: 2.5em; vertical-align: auto;">
        <i class="fas fa-arrow-left"></i>
      </button> -->
      <div class="card col-md-3 mx-1 my-2">
        <img style="height: 50%;" src="../assets/img/UX/projects/columbus-gov.svg" class="card-img-top">
        <div class="card-body">
          <a href="https://columbus.gov/"><h5 class="card-title">columbus.gov</h5></a>
          <p class="card-text">Up to date Covid-19 resources from the City of Columbus</p>
        </div>
      </div>
      <div class="card col-md-3 mx-1 my-2">
        <div style="height: 50%; padding-top:20px;">
          <span class="helper"></span><img style="vertical-align: middle;" src="../assets/img/UX/projects/columbus-eats.png" class="card-img-top">
        </div>
        <div class="card-body">
          <a href="https://supportcolumbuseats.com/"><h5 class="card-title">Support Columbus Eats</h5></a>
          <p class="card-text">A current list or restraunts open with info on how to order</p>
        </div>
      </div>
      <div class="card col-md-3 mx-1 my-2">
        <div style="height: 50%;">
          <span class="helper"></span><img style="vertical-align: middle; height: 100px; width: 100px" src="../assets/img/UX/projects/Next Door Munch.png" class="card-img-top">
        </div>
        <div class="card-body">
          <a href="https://nextdoormunch.com/"><h5 class="card-title">Next Door Munch</h5></a>
          <p class="card-text">Get groceries delivered by neighbors, to neighbors</p>
        </div>
      </div>
      <div class="card col-md-3 mx-1 my-2">
        <div style="height: 50%;">
          <span class="helper"></span><img style="vertical-align: middle;" src="../assets/img/UX/projects/columbushelperorg.png" class="card-img-top">
        </div>
        <div class="card-body">
          <a href="https://www.columbushelper.org/"><h5 class="card-title">Columbus Helper</h5></a>
          <p class="card-text">Up to date Covid-19 resources from the City of Columbus</p>
        </div>
      </div>
      <!-- <button class="btn btn-primary inverted-dark-purple" style="color:black; height: 2.5em;">
        <i class="fas fa-arrow-right"></i>
      </button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a
      class="btn btn-primary inverted-dark-purple"
      role="button"
      href="/find-help"
      >
        VIEW ALL RESOURCES
      </a>
    </div>
  </div>
</div>