<div class="jumbotron text-center background-white">
  <br>
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">we're just getting started</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary inverted-dark-purple" style="color:black;">
        <i class="fas fa-arrow-left"></i>
      </button>
      <!-- JUMBOTRON GOES HERE -->
      <button class="btn btn-primary inverted-dark-purple" style="color:black;">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary inverted-dark-purple">
        VIEW ALL RESOURCES
      </button>
    </div>
  </div>
</div>