{% capture between_content %}
  <div class="title-content">
    <h1>
      Code of Conduct
    </h1>
    <h4>Our guiding values in practice</h4>
    <h4>We&apos;re all in this together</h4>
  </div>
{% endcapture %}

<div class="jumbotron background-white">
  {% include nav.html between=between_content %}
</div>

<div class="jumbotron background-white">
  <div class="row">
    <div class="col-md-12 on-sunday-march-15">
      <div class="flex-column p-4">
    <p>Can’t Stop Columbus (CSCBUS), a program of Smart Columbus and the Columbus Partnership, is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of participants in any form.</p>
    <p>CSCBUS does not claim any license or any intellectual property rights to original works created by participants in their capacity as CSCBUS volunteers. CSCBUS expressly reserves all rights to the use of its name, logo, and/or other trademarks, and nothing herein shall be construed as a waiver of such rights.</p>
    <p>As a volunteer for third-party projects hosted by CSCBUS, I agree:</p>
    <ul>
      <li>I am volunteering solely for my personal purposes or pleasure, including for civic, charitable, or humanitarian reasons.</li>
      <li>I am freely donating my volunteer services and have no expectation of receiving compensation or benefits in exchange for any assistance I provide to project owners.</li>
      <li>I grant CSCBUS permission to use all photographs, images, video, or audio recordings of me in connection with my CSCBUS participation or volunteer work.</li>
      <li>I release and forever discharge and hold harmless CSCBUS from any and all liability, claims, and demands related to my volunteering for third-party project owners, use of the CSCBUS and Helm website(s), and participation in CSCBUS events.</li>
      <li>I am at least 18 years old and possess the authority to bind myself to this agreement.</li>
    </ul>
      </div>
    </div>
  </div>
</div>
