<div class="jumbotron background-white">
  <div class="row justify-content-between">
    <div class="col-auto mb-2">
      <button class="navbar-toggler collapsed hamburger-background light-purple-background align-left" type="button"
        data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation" onclick="on()">
        <span class="icon-bar top-bar color-black"></span>
        <span class="icon-bar middle-bar color-black"></span>
        <span class="icon-bar bottom-bar color-black"></span>
      </button>
    </div>
      <div class="col-auto mb-2">
        <img src="assets/img/UX/cscbus_logo_square.svg" align="right" style="height: 75px;" />
      </div>
  </div>
    <div class="col-7">
      <h1 class="page-title">
        Code of Conduct
      </h1>
      <p class="page-lead m-0">
        Our guiding values in practice <br>
        We’re all in this together
      </p>
    </div>
</div>
  <div class="jumbotron background-white">
      <div class="row">
        <div class="col-md-12 on-sunday-march-15">
          <div class="flex-column p-4">
        <p>Can’t Stop Columbus (CSCBUS) is dedicated to providing a harassment-free hackathon experience for everyone, regardless of gender,
          gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof),
          or technology choices. We do not tolerate harassment of participants in any form.</p>
        <p>CSCBUS does not claim any license or any intellectual property rights to original works
          created by participants in the course of this hackathon.</p>
        <p>As a volunteer for third-party projects hosted by CSCBUS, I agree:</p>
        <ul>
          <li>I am volunteering solely for my personal purposes or pleasure, including for civic, charitable, or humanitarian reasons.</li>
          <li>I am freely donating my volunteer services and have no expectation of receiving compensation or benefits in
              exchange for any assistance I provide to project owners.</li>
          <li>I grant CSCBUS permission to use all photographs, images, video, or audio recordings of me in connection with
              my CSCBUS participation or volunteer work.</li>
          <li>I release and forever discharge and hold harmless CSCBUS from any and all liability, claims, and demands related to my volunteering
              for third-party project owners, use of the CSCBUS and Helm website(s), and participation in CSCBUS events.</li>
          <li>I am at least 18 years old and possess the authority to bind myself to this agreement.</li>
        </ul>
          </div>
        </div>
      </div>
    </div>
