<div class="jumbotron text-center background-white">
    <div class="col-md-12">
        <br>
        <h2 style="text-align:left;">Contact <span class="purple-font">US</span></h2>
    </div>
    <div class="row">
            <div class="col-md-6">
                <h3 style="text-align:left; margin-left: .5em;">Looking to volunteer?</h3>
                <a style="float:left; margin-left: .5em;" class="btn btn-secondary inverted-dark-purple" role="button"
                    href="https://airtable.com/shrDrTCZQmDlCN8sg" target="_blank">
                    I WANT TO HELP
                </a>
            </div>
            <div class="col-md-6">
                <div>
                    <a style="float:left; margin-right: 5px;" class="btn btn-secondary inverted-dark-purple" role="button" href="mailto:hello@cantstopcolumbus.com?Subject=Submit%20a%20Resource"
                        target="_blank">
                        <img src="../assets/img/UX/icons/ico_mail.svg">
                    </a>
                    <h2 class="purple-font" style="text-align:left;">hello@cantstopcolumbus.com</span></h2>
                </div>
                <div>
                    <a style="float:left; margin-right: 5px;" class="btn btn-secondary inverted-dark-purple" role="button"
                        href="https://cantstopcolumbus.slack.com" target="_blank">
                        <img src="../assets/img/UX/icons/ico_slack.svg">
                    </a>
                    <h2 class="purple-font" style="text-align:left;">cantstopcolumbus.slack.com</span></h2>
                </div>
            </div>
    </div>
</div>