<div class="jumbotron background-white">
  <div class="row">
    <div class="col-md-12">
      <div class="flex-column p-4">
        <p class="subtitle" style="display:inline">Stay in the know</p>
        <h4><br>Sign up for our email newsletter to learn how we're helping the community and how you can get involved.</h4>
        <br><a
          class="btn btn-secondary"
          style="background-color:teal;"
          role="button"
          href="https://mailchi.mp/f6e589dcf2fa/news-signup" target="_blank">
          Sign Up Now
        </a>
      </div>
    </div>
  </div>
</div>
