<div class="jumbotron jumbotron-fluid pb-0">
  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="flex-column p-4">
        <h4>Help the cause</h4>
        <a
          class="btn btn-primary inverted-dark-purple"
          role="button"
          href="https://www.paypal.me/cantstopcbus"
        >
          DONATE &#36;
        </a>
      </div>
    </div>
</div> -->

<!-- <div class="container"> -->
  <form action='https://cantstopcolumbus.us19.list-manage.com/subscribe/post?u=936ce94b5d6af524e28522879&amp;id=85c807fe8e' method=“post” id=“mc-embedded-subscribe-form” name=“mc-embedded-subscribe-form” class=“validate” target=“_blank” novalidate>
    <div class="row">
      <div class="col-25">
      <h2>Subscribe</h2>
      <div class=“indicates-required”><span class=“asterisk”>*</span> indicates required</div>
        <label for=“mce-EMAIL”>Email Address  <span class=“asterisk”>*</span>
      </div>
      <div class="col-75">
        <input type=“email” value=“” name=“EMAIL” class=“required email” id=“mce-EMAIL”>
      </div>
    </div>

    <div style=“position: absolute; left: -5000px;” aria-hidden=“true”><input type=“text” name=“b_936ce94b5d6af524e28522879_85c807fe8e” tabindex=“-1” value=“”></div>
    <div class=“clear”><input type=“submit” value=“Subscribe” name=“subscribe” id=“mc-embedded-subscribe” class=“button”></div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
<!-- </div> -->

</div>
