<div class="jumbotron text-center background-white">
  <br>
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">Can't Stop Columbus Rally Live!</p>
      <br>
      <p class="subtitle" style="display:inline">Tune in: 5:00 pm</p>
      <br>
    </div>
  </div>

  <!-- Replace entire iframe url below once the event goes live -->+
  <div class="embed-responsive embed-responsive-16by9">
    <iframe 
      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcantstopcbus%2Fvideos%2F211919613363619%2F" 
      style="border:none;overflow:hidden"
      class="embed-responsive-item"
      scrolling="no"
      frameborder="0"
      allowTransparency="true"
      allowFullScreen="true"></iframe>
  </div>
</div>
