<div class="jumbotron text-center background-white">
  <br>
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">Can't Stop Columbus Live Rally Recording!</p>
      <br>
      <h2 class="subtitle_small" style="display:inline">March 26th at 5:00PM EST </h2>
      <br>
    </div>
  </div>

  <!-- Replace entire iframe url below once the event goes live -->
  <br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcantstopcbus%2Fvideos%2F211919613363619%2F"
      style="border:none;overflow:hidden"
      class="embed-responsive-item"
      scrolling="no"
      frameborder="0"
      allowTransparency="true"
      allowFullScreen="true"></iframe>
  </div>
</div>
