<div class="container">
  <footer class="footer background-white" data-background-color="black">
    <div class="row">
      <div class="col-sm text-center">
        <a
          href="/code-of-conduct.html"
          style="font-weight: bold; color: #9933cc;"
          >Code of Conduct</a
        >
      </div>
      <div class="col-sm text-center">
        <a style="font-weight: bold; color: #9933cc;">Media Kit</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="copyright text-center background-white">
          Made with <i class="fa fa-heart" style="color: #9933cc;"></i> by
          Columbus on
          <a href="https://github.com/maharris1011/cantstopcolumbus">
            GitHub
          </a>
        </div>
      </div>
    </div>
  </footer>
  <br />
</div>
<br />
<script
  defer
  src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
  integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
  function on() {
    document.getElementById("overlay").style.display = "block"
  }

  function off() {
    document.getElementById("overlay").style.display = "none"
  }

  $(function () {
    $("img").addClass("img-fluid")
  })

  let swap = (rg, i, j) => {
    let temp = rg[i]
    rg[i] = rg[j]
    rg[j] = temp
    return rg
  }

  let shuffle = (array) => {
    for (var i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * i)
      array = swap(array, i, j)
    }
    return array
  }

  let transformProject = (project) => {
    var retval = {
      website: project["Project Website"],
      text: project["Project Public Desc"],
      title: project.Title
    }
    if (project.hasOwnProperty("Project Logo")) {
      retval.logo = project["Project Logo"][0].url
    } else {
      retval.logo = "https://dl.airtable.com/.attachments/2fa5823b40f01050e459b6f8952081bc/bf5509f5/nextdoormunch.png"
    }
    return retval
  }

  var cantstopcbus = new Vue({
    el: "#carousel2",
    delimiters: ["{$", "$}"],
    data: {
      projects: []
    },
    mounted() {
      axios
        .get(
          "https://wduc7ys73l.execute-api.us-east-1.amazonaws.com/dev/projects"
        )
        .then(
          (response) => {
            this.projects = shuffle(response.data).slice(0,4).map((project) => {
              return transformProject(project)
            })
          },
          (error) => {
            console.error(error)
          }
        )
    }
  })
</script>
