<div class="jumbotron background-white header-tile">
  {% include nav.html %}
  <div class="row">
    <div class="col-md-8">
      <h1 class="display-4">Nice try COVID-19,</h1>
      <h2>but you <span class="primary-blue">can't stop Columbus</span></h2>
      <br
      <h5>A state-wide volunteer movement to create</h5>
      <h5>resources for the community</h5>
      <div class="d-flex help-button-group">
        <a
            class="btn btn-primary dark-purple"
            role="button"
            href="/find-help.html">
            I NEED HELP
          </a>
          <a
            class="btn btn-secondary"
            role="button"
            href="https://airtable.com/shrDrTCZQmDlCN8sg" target="_blank">
            I WANT TO HELP
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <img class="d-none d-md-block" src="assets/img/UX/logos/rocket.svg" align="right" style="max-height: 267px" />
    </div>
  </div>
</div>
