<div class="jumbotron background-white header-tile">
  {% include nav.html %}
  <div class="row">
    <div class="col-md-8">
      <h1 class="display-4">{{ page.title }}</h1>
      <h2>Read about the impact of <span class="primary-blue">can't stop Columbus</span></h2>
      <div class="d-flex help-button-group">
        <a  class="btn btn-primary dark-purple"
            role="button"
            href="/find-help.html">
            Volunteer
          </a>
      </div>
    </div>
  </div>
</div>
