<div class="jumbotron background-white">
  <div class="row">
    <div>
      <button class="navbar-toggler collapsed hamburger-background light-purple-background align-left" type="button"
        data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation" onclick="on()">
        <span class="icon-bar top-bar color-black"></span>
        <span class="icon-bar middle-bar color-black"></span>
        <span class="icon-bar bottom-bar color-black"></span>
      </button>
    </div>
    <div style="margin-left: auto">
      <img src="./assets/img/UX/cscbus_logo_square.svg" align="right" style="height: 75px;" />
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-8">
      <h1>Nice try COVID-19,</h1>
      <h2>but you <span class="primary-blue">can't stop columbus</span></h2>
      <div class="d-flex help-button-group">
        <a
            class="btn btn-primary dark-purple"
            role="button"
            href="/find-help.html">
            I NEED HELP
          </a>
          <a
            class="btn btn-secondary inverted-dark-purple"
            role="button"
            href="https://airtable.com/shrDrTCZQmDlCN8sg">
            I WANT TO HELP
          </a>
      </div>
    </div>
    <div class="col-md-4">
      <img class="d-none d-md-block" src="./assets/img/UX/muscle2.svg" style="height: 267px" />
    </div>
  </div>
</div>
