<div class="row justify-content-between">
  <div class="col-auto mb-2">
    <button class="navbar-toggler collapsed hamburger-background light-purple-background align-left" type="button"
      data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation" onclick="on()">
      <span class="icon-bar top-bar color-black"></span>
      <span class="icon-bar middle-bar color-black"></span>
      <span class="icon-bar bottom-bar color-black"></span>
    </button>
  </div>
    <div class="col-auto mb-2">
      <a href="/">
         <img src="assets/img/cscbus_logo_square.svg" align="right" style="height: 75px;" alt="CSC Home" />
       </a>
    </div>
</div>
