<div class="padding-top" id="overlay" onclick="off()">
  <div class="container">
    <div class="jumbotron nav-background">
      <div class="row">
        <div>
          <button class="close navbar-toggler collapsed hamburger-background light-purple-background align-left"
            type="button" id="close-nav" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" onclick="on()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="navigation-menu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/find-help.html">
                find help
              </a>
            </li>
            <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/get-involved.html">
                get involved
              </a>
            </li>

            <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/stories.html">
                stories
              </a>
            </li>
            <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/press-release.html">
                press
              </a>
            </li>
            <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/stories.html">
                stories
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/promo.html">
                 promos
              </a>
            </li> -->
            <li class="nav-item">
              <a class="navigation-link home-find-help-get-i" href="/team.html">
                 team
              </a>
            </li>
           </li>
           <li class="nav-item">
             <a class="navigation-link home-find-help-get-i" href="/partners.html">
                partners
             </a>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
