<div class="jumbotron background-white">
  <div class="row">
    <ol type="I">
      <li>
        <strong>Introduction</strong>
        <p>
          Can’t Stop Columbus (“<strong>CSC</strong>”, “<strong>us</strong>”
          or<strong> </strong>“<strong>we</strong>”) respects your privacy and
          is committed to protecting it through our compliance with this Privacy
          Policy (the “<strong>Policy</strong>”).
        </p>
        <p>
          This Policy describes the types of information we may collect from you
          or that you may provide when you visit the website
          <a href="https://cantstopcolumbus.com/"
            >https://cantstopcolumbus.com/</a
          >
          (our “<strong>Website</strong>”) and our practices for collecting,
          using, maintaining, protecting, and disclosing that information.
        </p>
        <p>
          This Policy applies to information we collect:
        <ul>
          <li>On our Website where this Policy is posted.</li>
          <li>
            In email, text, and other electronic messages between you and this
            Website.
          </li>
          <li>
            When you interact with our advertising and applications on
            third-party websites and services, if those applications or
            advertising include links to this policy.
          </li>
        </ul>
        </p>
        <p>
          This Policy is incorporated by reference into our
          <a href="{% link terms-of-service.html %}">Terms of Use</a> to which
          you agreed upon entering the Website, registering with us, requesting
          a quote, or signing up for our services. Please read this Policy
          carefully to understand our policies and practices regarding your
          information and how we will treat it. By accessing or using this
          Website, you agree to this Policy.
          <span style="text-decoration: underline;"
            >If you do not agree with this Policy, your choice is not to use our
            Website</span
          >. This Policy may change from time to time. Your continued use of
          this Website after we make changes is deemed to be acceptance of those
          changes, so please check this Policy periodically for updates.
        </p>
      </li>
      <li>
        <strong>Children Under the Age of 16</strong>

        <p>
          Our Website is not intended for children under 16 years of age. No one
          under age 16 may provide any information to or on the Website. We do
          not knowingly collect personal information from children under 16. If
          you are under 16, do not use or provide any information on this
          Website or on or through any of its features, register on the Website,
          make any purchases through the Website, or provide any information
          about yourself to us, including your name, address, telephone number,
          email address, or any screen name or user name you may use. If we
          learn we have collected or received personal information from a child
          under 16 without verification of parental consent, we will delete that
          information. If you believe we might have any information from or
          about a child under 16, please contact us at:
        </p>
        <p>
          Can’t Stop Columbus
        </p>
        <p>
          <a href="mailto:hello@cantstopcolumbus.com"
            >hello@cantstopcolumbus.com</a
          >
        </p>
        <p>
          California residents under 16 years of age may have additional rights
          regarding the collection and sale of their personal information.
          Please see
          <em
            ><a href="#bookmark=id.2jxsxqh"
              >Your California Privacy Rights</a
            ></em
          >
          for more information.
        </p>
      </li>
      <li>
        <strong>Information We Collect About You </strong>

        <p>
          We may collect, use, store and transfer several types of information
          from and about users of our Website which we have grouped together as
          follows:
        </p>
        <ul>
          <li>
            <strong>Identity Information</strong> includes first name, maiden
            name, last name, username or similar identifier.
          </li>

          <li>
            <strong>Contact Information</strong> includes billing address,
            delivery address, email address and telephone numbers.
          </li>

          <li>
            <strong>Technical Information</strong> includes internet protocol
            (IP) address, your login data, browser type and version, time zone
            setting and location, browser plug-in types and versions, operating
            system and platform, and other technology on the devices you use to
            access this Website.
          </li>

          <li>
            <strong>Usage Information</strong> includes information about how
            you use our Website.
          </li>

          <li>
            <strong>Marketing and Communications Information </strong>includes
            your preferences in receiving marketing from us and our third
            parties and your communication preferences.
          </li>
        </ul>
        <p>
          Information by which you may be personally identified and any other
          identifier by which you may be contacted online or offline is
          considered “<strong>Personal Information</strong>.”
        </p>
        <p>
          We also collect, use and share “<strong>Aggregated Information</strong
          >” such as statistical or demographic information for any purpose.
          Aggregated Data could be derived from your personal data but is not
          considered personal data in law as this data will not directly or
          indirectly reveal your identity. For example, we may aggregate your
          usage information to calculate the percentage of users accessing a
          specific feature of the Website. However, if we combine or connect
          Aggregated Information with your personal information so that it can
          directly or indirectly identify you, we treat the combined data as
          personal information which will be used in accordance with this
          Policy.
        </p>
        <p>
          We do not collect any
          <strong>Special Categories of Personal Information</strong> about you
          (this includes details about your race or ethnicity, religious or
          philosophical beliefs, sex life, sexual orientation, political
          opinions, trade union membership, information about your health, and
          genetic and biometric data). Nor do we collect any information about
          criminal convictions and offences.
        </p>
      </li>
      <li>
        <strong>How We Collect Information </strong>

        <p>
          We use different methods to collect data from and about you including
          through:
        </p>
        <p>
          <strong>Direct Interactions</strong>. The information we collect on or
          through our Website may include information directly provided to us by
          you, including:
        </p>
        <ul>
          <li>
            Information that you provide by filling in forms on our Website.
            This includes information provided at the time of registering to use
            our Website, subscribing to our services, or requesting a quote or
            further services. We may also ask you for information when you
            report a problem with our Website.
          </li>

          <li>
            Records and copies of your correspondence (including email
            addresses), if you contact us.
          </li>

          <li>
            Details of transactions you carry out through our Website and of the
            fulfillment of your orders. You may be required to provide financial
            information before placing an order through our Website.
          </li>

          <li>
            Your search queries on the Website.
            <p>
              <strong>Third parties or publicly available sources. </strong>We
              may receive information about you from third parties including,
              for example, business partners, sub-contractors, advertising
              networks, analytics providers, search information providers, data
              brokers or aggregators
            </p>
          </li>
        </ul>
        <p>
          <strong>Automated technologies or interactions</strong>. As you
          interact with our Website, we may automatically collect technical data
          about your equipment, browsing actions and patterns as specified
          above. We collect this information by using cookies and other similar
          technologies.
        </p>
      </li>
      <li>
        <strong>Cookies and Automatic Data Collection Technologies</strong>

        <p>
          Our Website uses cookies (small files placed on your device) or other
          automatic data collection technologies to distinguish you from other
          Website users. This helps us deliver a better and more personalized
          service when you browse our Website. It also allows us to improve our
          Website by enabling us to:
        </p>
        <ul>
          <li>Estimate our audience size and usage patterns.</li>
          <li>
            Store your preferences so we may customize our Website according to
            your individual interests.
          </li>

          <li>Speed up your searches.</li>
          <li>Recognize you when you return to our Website.</li>
        </ul>
        <p>
          We also may use these technologies to collect information about your
          online activities over time and across third-party websites or other
          online services (“<strong>behavioral tracking</strong>”).
        </p>
        <p>
          Certain internet browsers may offer you the option of providing notice
          to websites that you do not wish for your online activities to be
          tracked for preference-based advertising purposes (“<strong
            >DNT Notice</strong
          >”). Some browsers are, by default, set to provide a DNT Notice,
          whether that reflects your preference. Please note that with respect
          to our Website, we do not take any action based on browser based DNT
          Notices.
        </p>
        <p>
          You may refuse to accept browser cookies by activating the appropriate
          setting on your browser. However, if you select this setting, certain
          parts of our Website may become inaccessible and certain features may
          not work correctly. Unless you adjust your browser settings to refuse
          cookies, our system will issue them.
        </p>
        <p>
          Certain features of our Website may use Flash cookies (local stored
          objects) instead of browser cookies to collect and store information
          about your preferences and navigation to, from, and on our Website.
          Flash cookies and browser cookies use different management tools and
          you must manage their settings separately.
        </p>
        <p>
          Our Website pages and e-mails may contain web beacons (small
          transparent embedded images or objects, also known as clear gifs,
          pixel tags, and single-pixel gifs) that permit us, for example, to
          count website page visitors or email readers, or to compile other
          similar statistics such as recording website content popularity or
          verifying system and server integrity.
        </p>
      </li>

      <li>
        <strong
          >Third-Party Use of Cookies and Other Tracking Technologies</strong
        >

        <p>
          Some content or applications on the Website are served by
          third-parties, including advertisers, ad networks and servers, content
          providers, and application providers. These third parties may use
          cookies alone or in conjunction with web beacons or other tracking
          technologies to collect information about you when you use our
          Website. The information they collect may be associated with your
          personal information or they may collect information, including
          personal information, about your online activities over time and
          across different websites, and other online services. They may use
          this information to provide you with interest-based (behavioral)
          advertising or other targeted content.
        </p>
        <p>
          We do not control these third parties’ tracking technologies or how
          they may be used. If you have any questions about an advertisement or
          other targeted content, you should contact the responsible provider
          directly.
        </p>
      </li>
      <li>
        <strong>How We Use Your Information</strong>

        <p>
          We use information that we collect about you or that you provide to
          us, including any personal information:
        <ul>
          <li>To present our Website and its contents to you.</li>
          <li>
            To provide you with information, products, or services that you
            request from us.
          </li>

          <li>To fulfill any other purpose for which you provide it.</li>
          <li>To provide you with notices about your account.</li>
          <li>
            To carry out our obligations and enforce our rights arising from any
            contracts entered into between you and us, including for billing and
            collection.
          </li>

          <li>
            To notify you about changes to our Website or any products or
            services we offer or provide though it.
          </li>

          <li>
            In any other way we may describe when you provide the information.
          </li>
          <li>For any other purpose with your consent.</li>
        </ul>
        </p>
      </li>
      <li>
        <strong>Disclosure of Your Information</strong>
        <p>
          We may disclose personal information that we collect or you provide as
          described in this Policy:
        <ul>
          <li>To our subsidiaries and affiliates.</li>
          <li>
            To business partners, contractors, service providers, and other
            third parties we use to support our business and who obligated to
            keep personal information confidential and use it only for the
            purposes for which we disclose it to them.
          </li>

          <li>
            To a buyer or other successor in the event of a merger, divestiture,
            restructuring, reorganization, dissolution, or other sale or
            transfer of some or all of CSC’s assets, whether as a going concern
            or as part of bankruptcy, liquidation, or similar proceeding, in
            which personal information held by CSC about our Website users is
            among the assets transferred.
          </li>

          <li>
            To third parties to market their products or services to you if you
            have not opted out to these disclosures.
          </li>

          <li>To fulfill the purpose for which you provide it.</li>
          <li>
            For any other purpose disclosed by us when you provide the
            information.
          </li>
          <li>With your consent.</li>
        </ul>
        </p>
        <p>
          We may also disclose your personal information:
        </p>
        <ul>
          <li>
            To comply with any court order, law, or legal process, including to
            respond to any government or regulatory request.
          </li>

          <li>
            To enforce or apply our
            <a href="{% link terms-of-service.html %}">Terms of Use</a> and
            other agreements, including for billing and collection purposes.
          </li>

          <li>
            If we believe disclosure is necessary or appropriate to protect the
            rights, property, or safety of CSC, our customers, or others.
            <p>
              We may disclose, without restriction, aggregate information about
              our users, and information that does not identify any individual
              and non-personal information.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <strong>Choices About How We Use and Disclose Your Information</strong>
        <p>
          We strive to provide you with choices regarding the personal
          information you provide to us. We have created mechanisms to provide
          you with the following control over your information:
        </p>

        <ul>
          <li>
            <strong>Links to Third-Party Websites. </strong>
            <p>
              Our Website may, from time to time, contain links to and from the
              websites of our partner networks, advertisers and affiliates, or
              plug-ins enabling third-party features. If you follow a link to
              any third-party website or engage a third-party plug-in, please
              note that these third parties have their own privacy policies and
              that we do not accept any responsibility or liability for these
              policies. Please check these policies before you submit any
              personal data to these third parties.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <strong>Accessing and Correcting Your Information</strong>
        <p>
          You may send us an email at <a href="mailto:hello@cantstopcolumbus.com"
            >hello@cantstopcolumbus.com</a
          > to request
          access to, correct or delete any personal information that you have
          provided to us. We may not accommodate a request to change information
          if we believe the change would violate any law or legal requirement or
          cause the information to be incorrect.
        </p>
      </li>

      <li>
        <strong>Your California Privacy Rights</strong>

        <p>
          California residents may also have additional personal information
          rights and choices. California “Shine the Light” law (Civil Code
          Section § 1798.83) permits users of our Website that are California
          residents to request certain information regarding our disclosure of
          personal information to third parties for their direct marketing
          purposes. To make such a request, please contact us at
          <a href="mailto:hello@cantstopcolumbus.com"
            >hello@cantstopcolumbus.com</a
          >.
        </p>
      </li>

      <li>
        <strong>Data Security</strong>

        <p>
          We have implemented measures designed to secure your personal
          information from accidental loss and from unauthorized access, use,
          alteration, and disclosure. The safety and security of your
          information also depends on you. Where we have given you (or where you
          have chosen) a password for access to certain parts of our Website,
          you are responsible for keeping this password confidential. We ask you
          not to share your password with anyone.
        </p>
        <p>
          Unfortunately, the transmission of information via the internet is not
          completely secure. Although we do our best to protect your personal
          information, we cannot guarantee the security of your personal
          information transmitted to our Website. Any transmission of personal
          information is at your own risk. We are not responsible for
          circumvention of any privacy settings or security measures contained
          on the Website.
        </p>
      </li>

      <li>
        <strong>Changes to Our Privacy Policy</strong>

        <p>
          It is our policy to post any changes we make to our Policy on this
          page. The date the Policy was last revised is identified at the top of
          the page. You are responsible for ensuring we have an up-to-date
          active and deliverable email address for you, and for periodically
          visiting our Website and this Policy to check for any changes.
        </p>
      </li>

      <li>
        <strong>Contact and Opt-Out Information</strong>

        <p>
          You may contact us as provided below if: (a) you have questions or
          comments about our Policy; (b) wish to make corrections to any
          personally identifiable information you have provided; (c) or want to
          opt-out from receiving future commercial correspondence, including
          emails, from us or our affiliated companies.
        </p>
        <p>
          <a href="mailto:hello@cantstopcolumbus.com"
            >hello@cantstopcolumbus.com</a
          >
        </p>
        <p>
          We will respond to your request and, if applicable and appropriate,
          make the requested change in our active databases as soon as
          reasonably practicable. Please note that we may not be able to fulfill
          certain requests while allowing you access to certain benefits and
          features of our Website.
        </p>
      </li>
      <li>
        <strong>Sole Statement</strong>

        <p>
          This Policy as posted on this Website is the sole statement of our
          Policy with respect to this Website, and no summary, modification,
          restatement or other version thereof, or other privacy statement or
          policy, in any form, is valid unless we post a new or revised policy
          to the Website.
        </p>
      </li>
    </ol>
  </div>
</div>
