<div class="jumbotron background-white">
  <h2>Share the love</h2>
  <div class="row mt-4">
      <div class="col-md-6 d-flex flex-column social-links">
        <div class="d-flex flex-row align-items-center mb-4">
            <a role="button" href="https://twitter.com/cantstopcbus"
                target="_blank">
                    <img src="../assets/img/UX/icons/ico_twit.svg">
            </a>
            <h5>follow us on twitter</h5>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <a role="button"
                    href="https://www.facebook.com/cantstopcbus/" target="_blank">
                <img src="../assets/img/UX/icons/ico_FB.svg">
            </a>
            <h5>like us on facebook</h5>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
          <a role="button"
                  href="https://www.instagram.com/cantstopcbus/" target="_blank">
              <img src="../assets/img/UX/icons/ico_insta.svg">
          </a>
          <h5>follow on instagram</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">Help keep the lights on</div>
      <div class="row">Donate button</div>
      <br>
      <div class="row">Click to copy</div>
      <div class="row">#cantstopcolumbus</div>
    </div>
  </div>
</div>