<div class=" jumbotron background-white">
  <br>
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">With support from</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <img class="sponsorlogo" src="assets/img/UX/logos/AfterMarqd.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/BB.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/CCC.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/cds-logo.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/chek-creative.svg">
      </div>
      <div class="row">
        <img class="sponsorlogo" src="assets/img/UX/logos/circle-full.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/GBH-Columbus-01.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/Helm.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/HMB-Logo-SVG.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/HSC.svg">
      </div>
      <div class="row">
        <img class="sponsorlogo" src="assets/img/UX/logos/improving-logo-white.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/OHI-O.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/open_columbus_dark.svg">
        <img class="sponsorlogo" src="assets/img/UX/logos/SMRT Columbus.SVG">
        <div class="sponsorlogo">
          <a><h1 class="purple-font sponsor-more">+26 more</h1></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="text-align: center;">
        <h1>700+</h1>
        <h3 class="purple-font">volunteers</h3>
      </div>
      <div style="text-align: center;">
        <h1>40+</h1>
        <h3 class="purple-font">allies</h3>
      </div>
    </div>
  </div>
</div>