<div class="jumbotron background-white">
  <div class="row">
    <ol>
      <li>
        <strong>Acceptance of the Terms of Service </strong>
        <p>
          These Terms of Service are entered into by and between You and Can’t
          Stop Columbus, and/or related and affiliated entities (collectively
          “<strong>CSC</strong>”, “<strong>us</strong>” or<strong
          > </strong>“<strong>we</strong>”). The following terms and conditions,
          together with our
          <a href="{% link privacy-policy.html %}">Privacy Policy</a> and any
          other general privacy documents (collectively, these
          <strong>“Terms of Service”</strong>), govern your access to and use of
          the websites that post a link to these Terms of Service:
          <a href="https://cantstopcolumbus.com/"
            >https://cantstopcolumbus.com/</a
          >
          (our “<strong>Website</strong>”), applications, or other services we
          offer where these Terms of Service are posted, including any content,
          features, functionality, and services offered on or through the same,
          that we make available to you (collectively, the
          “<strong>Services</strong>”), whether as a guest or a registered user
          and regardless of how you access or use it, whether via computer,
          mobile device or otherwise.
        </p>
        <p>
          Please read the Terms of Service carefully before you start to use the
          Services.
        </p>
        <p>
          <strong
            >BY USING THE SERVICES OR BY CLICKING TO ACCEPT OR AGREE TO THE
            TERMS OF SERVICE WHEN THIS OPTION IS MADE AVAILABLE TO YOU, YOU
            ACCEPT AND AGREE TO BE BOUND AND ABIDE BY THESE TERMS OF SERVICE AND
            OUR <a href="{% link privacy-policy.html %}">PRIVACY POLICY</a>,
            FOUND ON OUR WEBSITE INCORPORATED HEREIN BY REFERENCE. IF YOU DO NOT
            WANT TO AGREE TO THESE TERMS OF SERVICE OR THE
            <a href="{% link privacy-policy.html %}">PRIVACY POLICY</a>, YOU
            MUST NOT ACCESS OR USE THE SERVICES.
          </strong>
        </p>
        <p>
          The Services are offered and available to users who are 18 years of
          age or older. By using this Website, you represent and warrant that
          you meet all of the foregoing eligibility requirements. If you do not
          meet all of these requirements, you must not access or use the
          Website.
        </p>
      </li>
      <li>
        <strong>Changes to the Terms of Service</strong>
        <p>
          We may revise and update these Terms of Service from time to time in
          our sole discretion. Unless we state otherwise, all changes are
          effective upon notice and apply to all access to and use of the
          Services thereafter. However, any changes to the provisions set forth
          in
          <em>Governing Law and Jurisdiction (section 23 below) </em>will not
          apply to any disputes for which the parties have actual notice on or
          prior to the date the change is posted on the Services.
        </p>
        <p>
          Your continued use of the Services following posting of revised Terms
          of Service means that you accept and agree to the changes.
        </p>
      </li>
      <li>
        <strong>Your Privacy</strong>
        <p>
          All information that you provide to us or that we collect through your
          use of the Services is subject to our
          <a href="{% link privacy-policy.html %}">Privacy Policy</a> found on
          our Website. By using the Services, you consent to all actions taken
          by us with respect to your information in compliance with the
          <a href="{% link privacy-policy.html %}">Privacy Policy</a>.
        </p>
      </li>
      <li>
        <strong>Accessing and Using the Services </strong>
        <p>
          We reserve the right to withdraw or amend the Services, including any
          content, information, or other materials we provide through or in
          connection with the Services (“<strong>Service Content</strong>”) in
          our sole discretion without notice. We will not be liable if for any
          reason all or any part of the Services or Service Content is
          unavailable at any time or for any period. From time to time, we may
          restrict access to some or all parts of the Services or Service
          Content.
        </p>
        <p>
          To access the Services, you may be asked to create an account by
          providing certain registration details or other information.
          Regardless of whether you register with us or use the Services as a
          guest, it is a condition of your use of the Services that all the
          information you provide on the Services is correct, current and
          complete.
        </p>
        <p>
          If you choose, or are provided with, a username, password or any other
          piece of information as part of our security procedures, you must
          treat such information as confidential, and you must not disclose it
          to any other person or entity. You also acknowledge that your account
          is personal to you and agree not to provide any other person with
          access to the Services or portions of it using your username,
          password, or other security information. You agree to notify us
          immediately of any unauthorized access to or use of your username or
          password or any other breach of security.
        </p>
        <p>
          We have the right to disable any username, password or other
          identifier, whether chosen by you or provided by us, at any time in
          our sole discretion for any or no reason, including if, in our
          opinion, you have violated any provision of these Terms of Service.
        </p>
      </li>
      <li>
        <strong>Mobile Device Access</strong>
        <p>
          To the extent you access the Services through a mobile device, your
          wireless service carrier’s standard charges, data rates and other fees
          may apply. In addition, downloading, installing, or using certain
          mobile services or applications may be prohibited or restricted by
          your carrier, and not all mobile services or applications may work
          with all carriers or devices. In the event you change or deactivate
          your mobile telephone number, you agree to promptly update your CSC
          account information.
        </p>
      </li>
      <li>
        <strong>Intellectual Property </strong>
        <p>
          The Services and Service Content and all rights therein are owned by
          CSC, its licensors or other providers of such material, and are
          protected by United States and international copyright, trademark,
          patent, trade secret and other intellectual property or proprietary
          rights laws.
        </p>
        <p>
          Subject to your compliance with these Terms of Service, CSC grants you
          a limited, revocable, non-exclusive and non-transferable license in
          the United States to access and use the Services and Service Content
          solely for your personal, non-commercial use. No right, title or
          interest in or to the Services or any Service Content is transferred
          to you, and all rights not expressly granted are reserved by CSC and
          its licensors. Any use of the Services and/or Service Content not
          expressly permitted by these Terms of Service is a breach of these
          Terms of Service and may violate copyright, trademark, and other laws.
        </p>
        <p>
          You must not:
          <ul>
            <li>Modify the Services or any Service Content; or</li>
            <li>
              Delete or alter any copyright, trademark or other proprietary rights
              notices from the Services or any Service Content.
            </li>
          </ul>
        </p>
      </li>
      <li>
        <strong>Trademarks</strong>
        <p>
          The CSC name and the CSC logo and all related names, logos, product
          and service names, designs and slogans are trademarks of CSC or its
          licensors. You must not use such marks without the prior written
          permission of CSC. All other names, logos, product and service names,
          designs and slogans on the Services are the trademarks of their
          respective owners.
        </p>
      </li>
      <li>
        <strong>User Conduct </strong>
        <p>
          You may use the Services and Service Content only for lawful purposes
          and in accordance with these Terms of Service. You agree not to use
          the Services or Service Content:
        <ul>
          <li>
            In any way that violates any applicable federal, state, local or
            international law or regulation (including, without limitation, any
            laws regarding the export of data or software to and from the US or
            other countries).
          </li>

          <li>
            For the purpose of exploiting, harming or attempting to exploit or
            harm minors in any way by exposing them to inappropriate content,
            asking for personally identifiable information or otherwise.
          </li>

          <li>
            To engage in any other conduct that restricts or inhibits anyone’s
            use or enjoyment of the Services or Service Content, or which, as
            determined by us, may harm CSC or users of the Services or expose
            them to liability.
          </li>

          <li>
            Use the Services in any manner that could disable, overburden,
            damage, or impair the Website or interfere with any other party’s
            use of the Services, including their ability to engage in real time
            activities through the Services.
          </li>

          <li>
            Use any robot, spider or other automatic device, process or means to
            access the Services for any purpose, including monitoring or copying
            any Service Content.
          </li>

          <li>
            Use any manual process to monitor or copy any Service Content or for
            any other unauthorized purpose without our prior written consent.
          </li>

          <li>
            Use any device, software or routine that interferes with the proper
            working of the Services.
          </li>

          <li>
            Introduce any viruses, Trojan horses, worms, logic bombs or other
            material which is malicious or technologically harmful.
          </li>

          <li>
            Attempt to gain unauthorized access to, interfere with, damage or
            disrupt any parts of the Services, the servers on which the Services
            or Service Content are stored, or any server, computer or database
            connected to the Services.
          </li>

          <li>
            Attack the Services via a denial-of-service attack or a distributed
            denial-of-service attack.
          </li>

          <li>
            To transmit, or procure the sending of, any advertising or
            promotional material, including any “junk mail”, “chain letter” or
            “spam” or any other similar solicitation.
          </li>

          <li>
            To impersonate or attempt to impersonate CSC, a CSC employee,
            another user or any other person or entity (including, without
            limitation, by using e-mail addresses or screen names associated
            with any of the foregoing).
          </li>

          <li>
            Otherwise attempt to interfere with the proper working of the
            Services.
          </li>
        </ul>
      </p>
    </li>
      <li>
        <strong>User Contributions</strong>
        <p>
          CSC may, in its sole discretion, permit you from time to time to post,
          submit, publish, display or transmit (hereinafter, “<strong
            >User Contribution</strong
          >”) to CSC through the Services content or materials including,
          without limitation, feedback related to the Services.
        </p>
        <p>
          Any User Contribution you submit will be considered non-confidential
          and non-proprietary. By providing any User Contribution on the
          Services, you grant us and our affiliates, business partners, and
          service providers, and each of their and our respective licensees,
          successors and assigns the right to use, reproduce, modify, perform,
          display, distribute and otherwise disclose to third parties any such
          material for any purpose, without further notice to or consent from
          you, and without payment to you or any person or entity.
        </p>
        <p>
          You represent and warrant that:
          <ul>
            <li>
              You either own or control all rights in and to the User
              Contributions or have the right to grant the license granted above
              to us and our affiliates, business partners, and service providers,
              and each of their and our respective licensees, successors and
              assigns;
            </li>

            <li>
              Your User Contributions will not contain any material which is
              defamatory, obscene, indecent, abusive, offensive, harassing,
              violent, hateful, inflammatory or otherwise objectionable or
              otherwise violate the legal rights (including the rights of
              publicity and privacy) of others or contain any material that could
              give rise to any civil or criminal liability under applicable laws
              or regulations;
            </li>

            <li>
              Neither your User Contributions nor use of your User Contributions
              as contemplated herein will infringe any patent, trademark, trade
              secret, copyright or other intellectual property or other rights of
              any other person or entity; and
            </li>

            <li>
              All of your User Contributions do and will comply with these Terms
              of Service.
            </li>
          </ul>
        </p>

        <p>
          You understand and acknowledge that you are responsible for any User
          Contributions you submit or contribute, and you, not CSC, have fully
          responsibility for such content, including its legality, reliability,
          accuracy and appropriateness.
        </p>
        <p>
          We are not responsible, or liable to any third party, for the content
          or accuracy of any User Contributions submitted by you or any other
          user of the Services.
        </p>
      </li>
      <li>
        <strong>Monitoring and Enforcement; Termination</strong>
        <p>
          We have the right to:
          <ul>
            <li>
              Disclose your identity or other information about you to any third
              party who claims that material posted by you through or in
              connection with your use of the Services is defamatory or otherwise
              violates their rights, including their intellectual property rights
              or their right to privacy.
            </li>

            <li>
              Disclose your identity or other information about you to any third
              party who claims that any act or omission attributable to you
              violates its rights, applicable law, or these Terms of Service.
            </li>

            <li>
              Take appropriate legal action, including without limitation,
              referral to law enforcement, for any illegal or unauthorized use of
              the Services.
            </li>

            <li>
              Terminate or suspend your access to all or part of the Services for
              any or no reason, including without limitation, any violation of
              these Terms of Service.
            </li>
          </ul>
        </p>
        <p>
          Without limiting the foregoing, we have the right to fully cooperate
          with any law enforcement authorities or court order requesting or
          directing us to disclose the identity or other information of anyone
          posting any materials on or through the Services or otherwise in any
          way related to your use of the Services. YOU WAIVE AND HOLD HARMLESS
          CSC AND ITS AFFILIATES, BUSINESS PARTNERS, LICENSORS AND SERVICE
          PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY OF
          THE FOREGOING PARTIES DURING, OR TAKEN AS A CONSEQUENCE OF,
          INVESTIGATIONS BY SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.
        </p>
      </li>
      <li>
        <strong>Reliance on Information Posted</strong>
        <p>
          The information presented on or through the Services is made available
          solely for general information purposes. We do not warrant the
          accuracy, completeness or usefulness of this information. Any reliance
          you place on such information is strictly at your own risk. We
          disclaim all liability and responsibility arising from any reliance
          placed on such materials by you or any other visitor to the Services,
          or by anyone who may be informed of any of its contents.
        </p>
        <p>
          The Services may include content provided by third parties, including
          materials provided by other users and third-party licensors. All
          statements and/or opinions expressed in these materials, and all
          articles and responses to questions and other content, other than the
          content provided by CSC, are solely the opinions and the
          responsibility of the person or entity providing those materials.
          These materials do not necessarily reflect the opinion of CSC. We are
          not responsible, or liable to you or any third party, for the content
          or accuracy of any materials provided by any third parties.
        </p>
      </li>
      <li>
        <strong>Changes to the Services</strong>
        <p>
          We may update the Service Content from time to time, but the Service
          Content is not necessarily complete or up-to-date. Accordingly, any of
          the Service Content may be out of date at any given time, and we are
          under no obligation to update such material.
        </p>
      </li>
      <li>
        <strong>Other Terms and Conditions</strong>
        <p>
          Additional terms and conditions may also apply to specific portions,
          services or features of the Services. All such additional terms and
          conditions are hereby incorporated by this reference into these Terms
          of Service.
        </p>
      </li>
      <li>
        <strong>Idea Submission Policy</strong>
        <p>
          Other than those we have specifically requested (and to which specific
          additional terms apply), our policy is not to accept or consider ideas
          or suggestions submitted by our users. We have adopted this policy in
          order to avoid confusion and misunderstandings in case that your
          ideas, suggestions, or other materials are similar to ones that have
          developed (or may develop) independently. Therefore, we are not
          responsible for any ideas, suggestions, or materials submitted to us.
          If you still choose to send us ideas, suggestions, or other materials,
          you agree that we are free to use these ideas, suggestions, or other
          materials in any way that it may deem fit without any liability or
          payment of any kind to you.
        </p>
      </li>
      <li>
        <strong>Social Media Features</strong>
        <p>
          The Services may provide certain social media features that enable you
          to:
          <ul>
            <li>
              Link from your own or certain third-party websites to certain
              content on the Services.
            </li>

            <li>
              Send e-mails or other communications with certain content, or links
              to certain content, on the Services.
            </li>

            <li>
              Cause limited portions of content on the Services to be displayed or
              appear to be displayed on your own or certain third-party websites.
            </li>
          </ul>
        </p>
        <p>
          You may use these features solely as they are provided by us, solely
          with respect to the content they are displayed with and otherwise in
          accordance with any additional terms and conditions we provide with
          respect to such features. We may disable all or any social media
          features and any links at any time without notice in our discretion.
        </p>
      </li>
      <li>
        <strong>Third Party Sites and Services</strong>
        <p>
          The Services may link to or may be accessed in connection with other
          sites, services, or resources that are provided by third parties.
          These links or the ability to access other sites, services, or
          resources from the Service are provided for your convenience only. We
          have no control over the content of those sites, services, or
          resources, and accept no responsibility for them or for any loss or
          damage that may arise from your use of them. If you decide to access
          any of the third-party sites, services, or resources linked to or
          otherwise accessible from the Services, you do so entirely at your own
          risk and subject to the terms and conditions of use and privacy
          policies for such sites.
        </p>
      </li>
      <li>
        <strong>Geographic Restrictions</strong>
        <p>
          The owner of the Services is based in Columbus, Ohio in the United
          States. We make no claims that the Services or any of its content is
          accessible or appropriate outside of the United States. Access to the
          Services may not be legal by certain persons or in certain countries.
          If you access the Services from outside the United States, you do so
          on your own initiative and are responsible for compliance with local
          laws.
        </p>
      </li>
      <li>
        <strong>Disclaimer of Warranties</strong>
        <p>
          You understand that we cannot and do not guarantee or warrant that
          files available for downloading from the internet or the Services will
          be free of viruses or other destructive code. You are responsible for
          implementing sufficient procedures and checkpoints to satisfy your
          particular requirements for anti-virus protection and accuracy of data
          input and output, and for maintaining a means external to our site for
          any reconstruction of any lost data. WE WILL NOT BE LIABLE FOR ANY
          LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK,
          VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR
          COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY
          MATERIAL DUE TO YOUR USE OF THE SERVICES OR PRODUCTS OBTAINED THROUGH
          THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON
          ANY WEBSITE LINKED TO IT.
        </p>
        <p>
          YOUR USE OF THE SERVICES, ITS CONTENT, AND ANY SERVICES OR PRODUCTS
          OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, ITS
          CONTENT AND ANY SERVICES OR PRODUCTS OBTAINED THROUGH THE WEBSITE ARE
          PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT ANY
          WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER CSC NOR ANY
          PERSON ASSOCIATED WITH CSC MAKES ANY WARRANTY OR REPRESENTATION WITH
          RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY
          OR AVAILABILITY OF THE WEBSITE. WITHOUT LIMITING THE FOREGOING,
          NEITHER CSC NOR ANYONE ASSOCIATED WITH CSC REPRESENTS OR WARRANTS THAT
          THE WEBSITE, ITS CONTENT OR ANY SERVICES OR PRODUCTS OBTAINED THROUGH
          THE WEBSITE WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED,
          THAT DEFECTS WILL BE CORRECTED, THAT OUR SITE OR THE SERVER THAT MAKES
          IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT
          THE WEBSITE OR ANY SERVICES OR PRODUCTS OBTAINED THROUGH THE WEBSITE
          WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS. THIS DISCLAIMER DOES
          NOT APPLY TO USER CONTRIBUTIONS PROVIDED BY YOU.
        </p>
        <p>
          CSC HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR
          IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY
          WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR
          PARTICULAR PURPOSE.
        </p>
        <p>
          THE FOREGOING DOES NOT AFFECT ANY WARRANTIES THAT CANNOT BE EXCLUDED
          OR LIMITED UNDER APPLICABLE LAW.
        </p>
      </li>
      <li>
        <strong>Limitation on Liability</strong>
        <p>
          IN NO EVENT WILL CSC, ITS AFFILIATES, BUSINESS PARTNERS, OR THEIR
          LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS
          BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT
          OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE SERVICES,
          SERVICE CONTENT, OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS
          OBTAINED THROUGH THE SERVICES, INCLUDING ANY DIRECT, INDIRECT,
          SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT
          NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL
          DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR
          ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND
          WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR
          OTHERWISE, EVEN IF FORESEEABLE. IN NO EVENT WILL CSC’S TOTAL LIABILITY
          TO YOU IN CONNECTION WITH THE SERVICES EXCEED THE GREATER OF (1) THE
          AMOUNT YOU HAVE PAID TO CSC IN THE LAST TWELVE (12) MONTHS; OR (2)
          FIVE-HUNDRED DOLLARS ($500 U.S.).
        </p>
        <p>
          THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED
          OR LIMITED UNDER APPLICABLE LAW.
        </p>
      </li>
      <li>
        <strong>Indemnification and Release</strong>
        <p>
          You agree to indemnify and hold harmless CSC and its and respective
          officers, directors, employees, contractors, agents, licensors,
          suppliers, successors and assigns from and against any claims,
          liabilities, damages, judgments, awards, losses, costs, expenses or
          fees (including reasonable attorneys’ fees) arising out of or relating
          to your violation of these Terms of Service or your use of any
          information obtained from the Services.
        </p>
        <p>
          If you are a California resident, you waive California Civil Code
          Section 1542, which says: “A general release does not extend to claims
          which the creditor does not know or suspect to exist in his favor at
          the time of executing the release, which if known by him must have
          materially affected his settlement with the debtor.” If you are a
          resident of another jurisdiction, you waive any comparable statute or
          doctrine.
        </p>
      </li>
      <li>
        <strong>Governing Law and Jurisdiction</strong>
        <p>
          All matters relating to the Services and these Terms of Service and
          any dispute or claim arising therefrom or related thereto (in each
          case, including non-contractual disputes or claims), shall be governed
          by and construed in accordance with the internal laws of the State of
          Ohio without giving effect to any choice or conflict of law provision
          or rule (whether of the State of Ohio or any other jurisdiction).
        </p>
        <p>
          Any legal suit, action or proceeding arising out of, or related to,
          these Terms of Service or the Services shall be instituted exclusively
          in the courts of Franklin County, Ohio or the United States District
          Court for the Southern District of Ohio, although we retain the right
          to bring any suit, action or proceeding against you for breach of
          these Terms of Service in your state or country of residence. You
          waive any and all objections to the exercise of jurisdiction over you
          by such courts and to venue in such courts.
        </p>
      </li>
      <li>
        <strong>Limitation on Time to File Claims</strong>
        <p>
          ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING
          TO THESE TERMS OF SERVICE OR THE SERVICES MUST BE COMMENCED WITHIN ONE
          (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF
          ACTION OR CLAIM IS PERMANENTLY BARRED.
        </p>
        <p>
          If any provision of these Terms of Service is held by a court or other
          tribunal of competent jurisdiction to be invalid, illegal or
          unenforceable for any reason, such provision shall be eliminated or
          limited to the minimum extent such that the remaining provisions of
          the Terms of Service will continue in full force and effect. So, for
          example, if a provision in these terms is found to be unenforceable,
          we agree an arbitrator (or, if permitted, a court) shall only strike
          that provision and that the remaining terms of these Terms of Service
          shall remain in force.
        </p>
      </li>
      <li>
        <strong>No Assignment; Waiver and Severability</strong>
        <p>
          You may not assign these Terms of Service without CSC’s prior written
          consent and any purported assignment in violation of these Terms of
          Service shall be void.
        </p>
        <p>
          No waiver of by CSC of any term or condition set forth in these Terms
          of Service shall be deemed a further or continuing waiver of such term
          or condition or a waiver of any other term or condition, and any
          failure of CSC to assert a right or provision under these Terms of
          Service shall not constitute a waiver of such right or provision.
        </p>
      </li>
      <li>
        <strong>Entire Agreement</strong>
        <p>
          The Terms of Service (including our
          <a href="{% link privacy-policy.html %}">Privacy Policy</a> and any
          other Additional Terms incorporated by reference) constitute the sole
          and entire agreement between you and CSC with respect to the Services
          and supersede all prior and contemporaneous understandings,
          agreements, representations and warranties, both written and oral,
          with respect to the Services.
        </p>
      </li>
      <li>
        <strong>Notices to You</strong>
        <p>
          We may provide notice to you either by posting on our Website, sending
          a general notice to you through the Services, notifying you by email,
          or by sending you notice through first-class or regular mail. Unless
          our notice to you states otherwise, such notices shall be deemed to
          have been given (a) twenty-four (24) hours after such notice is posted
          on our website, sent by email, or sent through the Services, or (b)
          forty-eight (48) hours after mailed (if sent by first class regular
          mail).
        </p>
      </li>
      <li>
        <strong>Notices to Us and Your Comments and Concerns </strong>
        <p>
          All notices, feedback, comments, requests for customer or technical
          support, and other communications relating to the Services should be
          directed to CSC at <a href="mailto:hello@cantstopcolumbus.com"
            >hello@cantstopcolumbus.com</a
          >.
        </p>
      </li>
    </ol>
  </div>
</div>
