$spacing-sm : .5rem; 
$spacing-md : .75rem; 
$spacing-lg : 1.25rem; 
$spacing-xl : 2rem; 

.m-bot-sm {
    margin-bottom: $spacing-sm; 
}
.m-bot-md {
    margin-bottom: $spacing-md; 
}
.m-bot-lg {
    margin-bottom: $spacing-lg;
}
.m-bot-xl {
    margin-bottom: $spacing-xl; 
}