h1.display-4 {
  font-weight: 500;
}

.post-title {
  font-family: Roboto;
}

.post-read-more {
  font-family: Roboto;
  font-weight: 500;
}

.page-title {
  height: 42px;
  color: #000000;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.26px;
  line-height: 42px;
}

.page-lead-2 {
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.13px;
  line-height: 21px;
}

.page-lead {
  height: 42px;
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.13px;
  line-height: 21px;
}

h6 {
  font-size: 1.25rem;
  color: #575757;
}
