@import '_typography.scss';

$backgroundColor: #ffffff;
$bodyBackgroundColor: #ECF0F6;
$bodyColor: #000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$primaryBlue: #4300FF;

$break-small-up: '(min-width: 376px)';
$break-tablet-up: '(min-width: 768px)';
$break-tablet: '(max-width: 1023px) and (min-width: 768px)';
$break-desktop-up: '(min-width: 1023px)';

body {
  background: $bodyBackgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.card-img2-top {
  width: 100%;
  object-fit: cover;
  @include border-top-radius($card-inner-border-radius);
}

.cbus-logo-square {
  height: 71px;
  width: 71px;
}

.nav-link {
  font-weight: bold;
}

#project-cards .row {
  display: flex;
  flex-wrap: wrap;

  img {
    &.limit-width {
      display: block;
      max-height: 180px;
      max-width: 180px;
      margin: auto;
    }
  }
}

#project-cards .row > div[class*='col-'] {
 display: flex;
}

.primary-blue {
  color: $primaryBlue;
}

.banner {
  background-color: $primaryBlue;
  width: 100%;

  p {
    color: #fff;
    margin: 0;
    padding: 1rem;
  }
}

div.jumbotron {
  padding: 2rem 1rem;
  padding-top: 2rem;

  &.header-tile{
    padding-top: 1rem;
  }
}
@media #{$break-tablet-up} {
  div.jumbotron {
    padding: 2rem;
  }
}

.help-button-group {
  flex-direction: column;
  padding-top: 1rem;

  a {
    margin-bottom: 1rem;
  }
  a:last-of-type{
    margin-bottom: 0;
  }

  @media #{$break-tablet-up} {
    flex-direction: row;
    justify-content: flex-start;

    a {
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
}

.contact-us-links {
  margin-top: 1rem;
  div {
    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

.home-find-help-get-i {
  width: 330px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 2rem;

  @media #{$break-tablet-up} {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0.43px;
    line-height: 100px;
  }
}

.social-links {
  a {
    min-width: 44px;
    margin-right: 2rem;
    text-align: center;
  }
}


.btn-primary, .btn-secondary {
  font-weight: 500;
  text-transform: uppercase;
  min-width: 150px;
  transition: all 350ms;
}

.btn-primary {
  border-color: #4300ff;
  background-color: #4300ff;
  &:hover {
    background-color: #0D00A4;
  }
}

.btn-secondary {
  color: #3366ff;
  border-color: #3366ff;
  background-color: #f1ebff;
  &:hover {
    background-color: #3366ff;
    border-color: #3366ff;
    color: #fff;
  }
}

.contact-us-links .btn {
  min-width: unset;
}

#copyCSC{
  font-size: 2rem;
  font-weight: 500;
  border: none;
  max-width: 300px;
}

#copied-tooltip {
  position: absolute;
  left: 300px;
  height: 0;
  width: 80px;
  height: 50px;
  margin-bottom: -50px;
  line-height: 50px;
  font-weight: 600;
  span {
    background-color: #00e096;
    padding: .5rem;
  }

  @media #{$break-tablet-up} {
    left: -75px;
  }
}

// We are using bootstrap v4.0 which does not have grid like styles.
// We'll need to decide if it is worth upgrading in the future.
.artisan-bootstrap-row {
  div {
    &.artisan-bootstrap-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px;
      margin-bottom: 1rem;
      @media #{$break-tablet-up} {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }
  }
}
