@import '_typography.scss'; 

$backgroundColor: #ffffff;
$bodyBackgroundColor: #ECF0F6;
$bodyColor: #000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$primaryBlue: #4300FF;

$break-small-up: '(min-width: 376px)';
$break-tablet-up: '(min-width: 768px)';
$break-tablet: '(max-width: 1023px) and (min-width: 768px)';
$break-desktop-up: '(min-width: 1023px)';

body {
  background: $bodyBackgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.cbus-logo-square {
  height: 71px;
  width: 71px;
}

.nav-link {
  font-weight: bold;
}

#project-cards .row {
  display: flex;
  flex-wrap: wrap;
}

#project-cards .row > div[class*='col-'] {
 display: flex;
}



.primary-blue {
  color: $primaryBlue;
}

div.jumbotron {
  padding: 2rem 1rem; 
  padding-top: 2rem;

  &.header-tile{
    padding-top: 1rem; 
  }
}
@media #{$break-tablet-up} {
  div.jumbotron {
    padding: 2rem; 
  }
}

.help-button-group {
  flex-direction: column;
  padding-top: 1rem;

  a {
    margin-bottom: 1rem; 
  }
  a:last-of-type{
    margin-bottom: 0; 
  }

  @media #{$break-tablet-up} {
    flex-direction: row;
    justify-content: flex-start;

    a {
      margin-right: 1rem; 
      margin-bottom: 0; 
    }
  }
}

.contact-us-links {
  margin-top: 1rem;
  div {
    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

.home-find-help-get-i {
  width: 330px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 2rem;

  @media #{$break-tablet-up} {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0.43px;
    line-height: 100px;
  }
}

.social-links {
  a {
    min-width: 44px; 
    margin-right: 2rem; 
    text-align: center;
  }
}