@import '_typography.scss';

$backgroundColor: #ffffff;
$bodyBackgroundColor: #ECF0F6;
$bodyColor: #000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$primaryBlue: #4300FF;

$break-small-up: '(min-width: 376px)';
$break-tablet-up: '(min-width: 768px)';
$break-tablet: '(max-width: 1023px) and (min-width: 768px)';
$break-desktop-up: '(min-width: 1023px)';

body {
  background: $bodyBackgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.card-img2-top {
  width: 100%;
  object-fit: cover;
  @include border-top-radius($card-inner-border-radius);
}

.card-img3-top {
  width: 100%;
  object-fit: fill;
  @include border-top-radius($card-inner-border-radius);
}

.cbus-logo-square {
  height: 71px;
  width: 71px;
}

.nav-link {
  font-weight: bold;
}

.main-cta-container {
  @media #{$break-tablet-up} {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 2rem;

    h1 {
      line-height: 42px;
    }

    h4 {
      line-height: 21px;
    }
  }

  @media #{$break-desktop-up} {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 2rem;
  }
}

#project-cards .row {
  display: flex;
  flex-wrap: wrap;

  img {
    &.limit-width {
      display: block;
      max-height: 180px;
      max-width: 180px;
      margin: auto;
    }
  }
}

#project-cards .row > div[class*='col-'] {
 display: flex;
}

.primary-blue {
  color: $primaryBlue;
}

.banner {
  background-color: $primaryBlue;
  width: 100%;

  p {
    color: #fff;
    margin: 0;
    padding: 1rem;
  }
}

div.jumbotron {
  padding: 2rem 1rem;
  padding-top: 2rem;

  &.header-tile{
    padding-top: 1rem;
  }
}
@media #{$break-tablet-up} {
  div.jumbotron {
    padding: 2rem;
  }
}

.help-button-group {
  flex-direction: column;
  padding-top: 1rem;

  a {
    margin-bottom: 1rem;
  }
  a:last-of-type{
    margin-bottom: 0;
  }

  @media #{$break-tablet-up} {
    flex-direction: row;
    justify-content: flex-start;

    a {
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
}

.contact-us-links {
  margin-top: 1rem;
  div {
    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

.home-find-help-get-i {
  width: 330px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 2rem;

  @media #{$break-tablet-up} {
    font-size: 3rem;
    font-weight: 500;
  }
}

.social-links {
  a {
    min-width: 44px;
    margin-right: 2rem;
    text-align: center;
  }
}


.btn-primary, .btn-secondary {
  font-weight: 500;
  text-transform: uppercase;
  min-width: 150px;
  transition: all 350ms;
}

.btn-primary {
  border-color: #4300ff;
  background-color: #4300ff;
  &:hover {
    background-color: #0D00A4;
  }
}

.btn-secondary {
  color: #3366ff;
  border-color: #3366ff;
  background-color: #f1ebff;
  &:hover {
    background-color: #3366ff;
    border-color: #3366ff;
    color: #fff;
  }
}

.contact-us-links .btn {
  min-width: unset;
}

#copyCSC{
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  max-width: 300px;

  @media #{$break-tablet-up} {
    font-size: 2rem;
  }
}

#copied-tooltip {
  position: absolute;
  left: 300px;
  height: 0;
  width: 80px;
  height: 50px;
  margin-bottom: -50px;
  line-height: 50px;
  font-weight: 600;
  span {
    background-color: #00e096;
    padding: .5rem;
  }

  @media #{$break-tablet-up} {
    left: -75px;
  }
}

// We are using bootstrap v4.0 which does not have grid like styles.
// We'll need to decide if it is worth upgrading in the future.
.artisan-bootstrap-row {
  div {
    &.artisan-bootstrap-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px;
      margin-bottom: 1rem;
      @media #{$break-tablet-up} {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }
  }
}

.artisan-ally-bootstrap-row {
  div {
    &.artisan-ally-bootstrap-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 5px;
      margin-bottom: 1rem;
      @media #{$break-tablet-up} {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
}

.artisan-featured-bootstrap-row {
  div {
    &.artisan-featured-bootstrap-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 5px;
      margin-bottom: 1rem;
      @media #{$break-tablet-up} {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }
  }
}

.submitText{
  color:white;
  text-align:center;
  margin-bottom:-25px;
  font-size:1.2rem;
  margin-bottom:-25px;
}

.promoField {
  padding: 15px; margin-top:5px; margin-bottom:5px; 
}

.volunteerField {
  padding: 15px; margin-top:5px; margin-bottom:5px; border: 1px solid black; 
}

// TODO separate the scss into page specific files.
// This has already started with the import _typography

.list-of-skills {
  ul {
    margin-bottom: 0;
  }
  @media #{$break-tablet-up} {
    display: flex;
    justify-content: space-between;
  }
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .volunteerModal{
    width:375px;
  }
  .modalButton{
    width: 345px;
    height: 40px;
    font-size: .8rem; color: #575757;
    font-weight: 600;
  }

  .modalButtonImage{
    width: 275px;
    height: 40px;
    font-size: .8rem; color: #575757;
    font-weight: 600;
  }

  div.title-content h1{
    font-size:32px!important;
  }

  #uploadBox{
    border-radius: 25px; 
    border: 5px dashed  #575757; 
    padding: 20px; 
    width: 300px; 
    height: 150px;
  }
  .volunteerLabel{
    font-size: .95rem; 
    color: #575757;
  }
  .volunteerSlack{
    font-size: 1em !important;
  }

  .successHeaders{
    font-weight:bold;
    font-size:1em
  }
  .buttonSlack {
    border: 1px solid #3366FF;
    height: auto;
                width: auto;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-left: 15px;
                margin-right: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .volunteerModal{
    width:375px;
  }
  div.title-content h1{
    font-size:32px!important;
  }
  .modalButton{
    width: 375px;
    height: 40px;
    font-size: .8rem; color: #575757;
    font-weight: 600;
  }
  .modalButtonImage{
    width: 300px;
    height: 40px;
    font-size: .8rem; color: #575757;
    font-weight: 600;
  }
  #upload_Box{
    border-radius: 25px; 
    border: 5px dashed  #575757; 
    padding: 20px; 
    width: 400px; 
    height: 150px;
  }
  .volunteerLabel{
    font-size: .95rem; 
    color: #575757;
  }
  .volunteerSlack{
    font-size: 1.5em !important;
  }
  .successHeaders{
    font-weight:bold;
    font-size:1em
  }

  .buttonSlack {
    border: 1px solid #3366FF;
    height: auto;
                width: auto;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-left: 15px;
                margin-right: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .volunteerModal{
    width:450px;
  }
  .modalButton{
    width: 375px;
    height: 40px;
    font-size: .9rem; color: #575757;
    font-weight: 600;
  }
  .modalButtonImage{
    width: 300px;
    height: 40px;
    font-size: .8rem; color: #575757;
    font-weight: 600;
  }
  #uploadBox{
    border-radius: 25px; 
    border: 5px dashed  #575757; 
    padding: 20px; 
    width: 400px; 
    height: 150px;
  }
  .volunteerLabel{
    font-size: 1.15rem; 
    color: #575757;
  }

  .volunteerSlack{
    font-size: 2em !important;
  }
  .successHeaders{
    font-weight:bold;
    font-size:1.25em
  }
  .buttonSlack {
    border: 1px solid #3366FF;
    height: auto;
                width: auto;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 15px;
                margin-right: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .volunteerModal{
    width:600px;
  }
  .modalButton{
    width: 545px;
    height: 40px;
    font-size: 1.1rem; color: #575757;
    font-weight: 600;
  }
  .modalButtonImage{
    width: 545px;
    height: 40px;
    font-size: .8rem; color: #575757;
    font-weight: 600;
  }
  #uploadBox{
    border-radius: 25px; 
    border: 5px dashed  #575757; 
    padding: 20px; 
    width: 600px; 
    height: 150px;
  }

  .volunteerLabel{
    font-size: 1.25rem; 
    color: #575757;
  }
  .volunteerSlack{
    font-size: 2.5em !important;
  }
  .successHeaders{
    font-weight:bold;
    font-size:1.5em
  }
  .buttonSlack {
    border: 1px solid #3366FF;
    height: auto;
                width: auto;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 15px;
                margin-right: 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .volunteerModal{
    width:600px;
  }
  .modalButton{
    width: 545px;
    height: 40px;
    font-size: 1.1rem; color: #575757;
    font-weight: 600;
  }
  .modalButtonImage{
    width: 545px;
    height: 40px;
    font-size: .8rem; color: #575757;
    font-weight: 600;
  }
  #uploadBox{
    border-radius: 25px; 
    border: 5px dashed  #575757; 
    padding: 20px; 
    width: 600px; 
    height: 150px;
  }

  .volunteerLabel{
    font-size: 1.25rem; 
    color: #575757;
  }
  .volunteerSlack{
    font-size: 2em !important;
  }
  .successHeaders{
    font-weight:bold;
    font-size:1.5em
  }
  .buttonSlack {
    border: 1px solid #3366FF;
    height: auto;
                width: auto;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 15px;
                margin-right: 15px;
  }
}



.modal-body{
  margin-left: auto;
  margin-right: auto;
}

.scrollable-menu {
  height: auto;
  max-height: 600px;
  overflow-x: hidden;
}

.modalButton{
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #4300FF;
  background-color: white;
  border-radius: 6px;
  text-align:left;
  margin: 5px;
}

.modalButtonImage{
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #4300FF;
  background-color: white;
  border-radius: 6px;
  text-align:left;
  margin: 5px;
}


.btn-outline-volunteer{
  color: #4300FF;
  background-color: transparent;
  background-image: none;
  border-color: #4300FF;
}

#upload_Box.highlightBox {
border:5px dashed #4300FF!important;
}



input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
  .form-group {
position: relative;
margin-bottom: 1.5rem;
}

.form-control-placeholder {
position: absolute;
top: 0;
font-size:1.1rem;
padding: 10px 0 0 13px;
transition: all 200ms;
opacity: 0.5;
}

.volunteerField:focus + .form-control-placeholder,
.stateField {
font-size: 90%;
transform: translate3d(0, -100%, 0);
opacity: 1;
}

/* The customcheck */
.customcheck {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left:10px;
}

/* Hide the browser's default checkbox */
.customcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  border: 2px solid #a9a9a9;
  margin-left:10px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
  background-color: #4300FF;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.drop {
  background-color: #f2f2f2;
  border: 4px dashed #ccc;
  background-color: #f6f6f6;
  border-radius: 2px;
  height: 100%;
  max-height: 400px;
  max-width: 600px;
  width: 100%;
}

.imgUpload {
  border: 1px solid #f6f6f6;
  display: inline-block;
  height: auto;
  max-height: 80%;
  max-width: 80%;
  width: auto;
}

.display-inline {
  display: inline-block;
  vertical-align: middle;
}

.helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 0;
}

.dropdown {
  height: calc(3.25rem + 2px)!important
}

.photo-upload-label {
  border: 2px solid #4300FF; background-color: #F1EBFF; padding:10px; border-radius: 0.25rem; margin-left:10px;
}

.photo-strong {
  padding:10px; 
  color: #4300FF;
}

.coclink{
  font-style:bold; color:#4300FF
}

.text-indent-15{
    text-indent: 15px;
}

.success-link{
  display:inline; 
  color:#9933CC;
}

.success-pink{
  color:#9933CC; 
}