<div class="jumbotron background-white">
    <div class="row" style="padding-bottom:20px;">
        <div class="col-md-9">
            <h2>Next Steps</h2>
        </div>
    </div>
    <ol>
        <li class="successHeaders">
            <div class="row" style="display: flex;
            flex-wrap: wrap;">
               <!-- <button class="navbar-toggler collapsed hamburger-background light-purple-background align-left buttonSlack" type="button" onclick="redirect()" >
                    <i  class="fab fa-slack volunteerSlack" style="color:#9933CC; "></i>
                </button> -->
                <div class="col-s-4 col-xs-4" >
                    <button class="navbar-toggler collapsed light-purple-background align-left buttonSlack" style="margin-left:20px;" type="button" onclick="redirect()" >
                        <i  class="fab fa-slack volunteerSlack" style="color:#9933CC; "></i>
                    </button>
                </div>
                <div class="col-s-8 col-xs-8">
                    <a class="successHeaders" style="display:inline; color:#9933CC;margin-left:10px; " href="http://slack.cantstopcolumbus.com/" target="_blank">Request to join our slack</a>
                </div>
            </div>
        </li>
        <li class="successHeaders"><div class="row" >
            <div class="col-md-10 col-xs-8">
                <p class="successHeaders" style="display:inline">Watch our <a style="display:inline; color:#9933CC; " href="https://www.youtube.com/watch?v=8sQSMoyZQ7Y" target="_blank">onboarding video</a> </p>
            </div>
        </div></li>
        <li class="successHeaders">
            <div class="row" >
            <div class="col-md-10 col-xs-8">
                <p class="successHeaders" style="display:inline">Read the <a style="display:inline; color:#9933CC; " class="" target="_blank" href="https://cantstopcolumbus.slack.com/archives/C0103K362TH">#000 get started</a> channel</p>
            </div>
        </div></li>
        <li class="successHeaders">
            <div class="row" >
            <div class="col-md-10 col-xs-8">
                <p class="successHeaders" style="display:inline">Jump into a project!</p>
            </div>
        </div></li>
    </ol>
  </div>

  <script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>


  <script>


      function redirect() {
        window.open('https://www.slack.com', '_blank');
      }

  </script>

  <style>
      .linkSuccess {
        display:inline; color:#9933CC;
        height: 42px;
        text-align: left !important;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 0.26px;
        line-height: 42px;
      }




  </style>