<div class="jumbotron background-white">
    <div class="row padding-bottom-md">
        <div class="col-md-9">
            <h2>Next Steps</h2>
        </div>
    </div>
    <ol>
        <li class="successHeaders">
            <div class="row d-flex flex-wrap">
                <div class="col-s-4 col-xs-4" >
                    <button class="navbar-toggler collapsed light-purple-background align-left buttonSlack margin-left-lg" type="button" onclick="redirect()" >
                        <i  class="fab fa-slack volunteerSlack success-pink"></i>
                    </button>
                </div>
                <div class="col-s-8 col-xs-8">
                    <p class="successHeaders margin-left-sm "  target="_blank">Accept our incoming invitation to our Slack Channel!</p>
                </div>
            </div>
        </li>
        <li class="successHeaders"><div class="row" >
            <div class="col-md-10 col-xs-8">
                <p class="successHeaders d-inline" >Watch our <a class="success-link" href="https://www.youtube.com/watch?v=8sQSMoyZQ7Y" target="_blank">onboarding video</a> </p>
            </div>
        </div></li>
        <li class="successHeaders">
            <div class="row" >
            <div class="col-md-10 col-xs-8">
                <p class="successHeaders d-inline" >Read the <a class="success-link" target="_blank" href="https://cantstopcolumbus.slack.com/archives/C0103K362TH">#000 get started</a> channel</p>
            </div>
        </div></li>
        <li class="successHeaders">
            <div class="row" >
            <div class="col-md-10 col-xs-8">
                <p class="successHeaders d-inline" >Jump into a project!</p>
            </div>
        </div></li>
    </ol>
  </div>

  <script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>


  <script>


      function redirect() {
        window.open('https://www.slack.com', '_blank');
      }

  </script>
