<div class="jumbotron background-white">
    <div class="row" style="padding-bottom:20px;">
        <div class="col-md-9">
            <h1 style="display:inline; font-family: Roboto;
            font-size: 54px;
            font-weight: 500;
            letter-spacing: 0.43px; padding-bottom:20px;
            line-height: 71px;">Thank you 10tv</h1>
            <h4><br/>10tv has partnered with Can't Stop Columbus and has graciously<br />volunteered to give free advertizing space on their <a href="https://www.10tv.com/">website</a>.</h4>
            <h4><br/>Offer valid until May 1st, 2020<br />To submit your business, fill out the form below.</h4>
        </div>
        <div class="col-md-3">  
            <br><img style="max-width: 100%;
            height: auto;" src="assets/img/UX/logos/10tv.jpg">
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6">
            <p class="subtitle" style="display:inline">Submit Your Business</p>
        </div>
    </div>
    <br />
    <form name="promo" class="needs-validation"   novalidate accept-charset="UTF-8"> <!--accept-charset="UTF-8" action="https://formkeep.com/f/exampletoken" method="POST"-->
        <div class = "row">
            <div class="col-md-5">
                <input type="text" id="name" required class="form-control promoField" name="Business"  placeholder="Business Name">
                <div class="invalid-feedback">
                    Please type in the business name
                  </div>
                <input type="url" class="form-control promoField" id="website" name="Website"  required placeholder="Website URL">
                <div class="invalid-feedback">
                    Please type in a valid website URL
                  </div>
            </div> 
            <div class="col-md-5">
                <input type="text" required name="Promo"  class="form-control promoField"  id="promo_text"  maxlength="100" placeholder="Promotional Text">
                <div class="invalid-feedback">
                    Please type in a valid text
                  </div>
                    <span id="charLeft"  style="color:grey; padding-left:10px; font-size:14px;"><span id="rem_post" title="1000">0</span>/100 characters   </span>
                
            </div>
        </div>
        <div class = "row">
            <br />
        </div>
        <div class = "row">
            <div class="col-md-12 text-center align-center">
                 <button class="btn btn-primary dark-purple"  style="width:25%;margin-bottom:10px;" type="submit" id="submitButton">Submit</button>
            </div>
        </div>
      </form>
    <div class = "row">
        <div class="col-md-12 text-center">
            <span id="submitText" class="submitText">Thank you! Your ad will be up within 24 hours.</span>
        </div>
        <div class="col-md-12 text-center">
            <span id="errorSubmissionText" class="submitText">We are sorry but there is already a submission created for your business</span>
        </div>
        <div class="col-md-12 text-center">
            <span id="errorText" class="submitText">We are sorry but we are unable to process this Promo form at this time. Please try again later.</span>
        </div>
    </div>
    <span id="key" style="display:hidden">{{ site.env.AIRTABLE_KEY }}</span>
    <br>
  </div>
  

  <script  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>


  <script>
    $( document ).ready(function() {
    console.log( "ready!" );
    });
    
    var copyText = $('#promo_text')[0];
    var copyName = $('#name')[0];//document.getElementById("name");
    var copySite = $('#website')[0];//document.getElementById("website");
    var charLeft = $('#rem_post')[0];//document.getElementById("rem_post");
    var errorText = $('#errorText')[0];//document.getElementById("errorText");
    var errorSubmissionText = $('#errorSubmissionText')[0];//document.getElementById("errorText");
    var submitText = $('#submitText')[0];//document.getElementById("submitText");
    var submitButton = $('#submitButton')[0];//document.getElementById("submitButton");
    var forms = $("[name='needs-validation']");
    //document.getElementsByClassName('needs-validation');


      $(function() {
            // We are currently not using babel. ES 5 syntax
            'use strict';
            $( document ).ready(function() {

                $('input[type="url"]').on('blur', function(){
                    var string = $(this).val();
                    if (!string.match(/^https?:/) && string.length) {
                        string = "http://" + string;
                        $(this).val(string)
                    }
                    });




                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                if (forms.length > 0) {
                    for (var form of forms) {
                        form.addEventListener('submit', function(e) {
                            console.log("Submitting");
                            if (!form.checkValidity()) {
                                e.stopPropagation();
                                e.preventDefault();
                                console.log("FORM NOT VALID");
                            } else {
                                var xhrPost = new XMLHttpRequest();
                                e.preventDefault();

                                xhrPost.open('POST', 'https://wduc7ys73l.execute-api.us-east-1.amazonaws.com/dev/promotions', true);
                                xhrPost.setRequestHeader('Content-Type', 'application/json');

                                xhrPost.send(JSON.stringify({
                                            "Business":copyName.value,
                                            "Promo":copyText.value,
                                            "Website": copySite.value
                                }));

                                xhrPost.onerror = function () {
                                            errorText.className = 'errorText';
                                            e.stopPropagation();
                                            submitButton.className = 'btn btn-danger submitSuccess';
                                            submitButton.innerHTML = 'X';
                                            submitButton.disabled = true;
                                };

                                xhrPost.onload = function() {
                                    errorText.className = 'submitText';
                                    submitText.className = 'submitTextSuccess';
                                    submitButton.className = 'btn btn-success submitSuccess';
                                    submitButton.innerHTML = '&check;';
                                    submitButton.disabled = true;
                                }
                            }
                            form.classList.add('was-validated');
                        });
                    }
                }
            } , false);
            })
  </script>