<div class="jumbotron">
  <h2>How you can get involved</h2>
  <p>We're looking for the following skills</p>
  <div class="mt-2 list-of-skills">
    <ul>
      <li>Animation</li>
      <li>Audio Editing</li>
      <li>Business Analysis</li>
      <li>Copywriting</li>
      <li>Data &amp; Visualization</li>
      <li>Data Entry</li>
      <li>Digital Strategy</li>
      <li>Ecommerce</li>
    </ul>
    <ul>
      <li>Epidemiology</li>
      <li>Government Partners</li>
      <li>Graphic Design</li>
      <li>General &#47; Hustle</li>
      <li>Health Partners</li>
      <li>Language - Spanish</li>
      <li>Legal</li>
      <li>Marketing</li>
    </ul>
    <ul>
      <li>Software Engineers</li>
      <li>Students</li>
      <li>Podcasts</li>
      <li>Process Engineering</li>
      <li>Product &amp; Project MGMT</li>
      <li>Real Estate Development</li>
      <li>Technologists</li>
      <li>UX Design &amp; Research</li>
    </ul>
    </ul>
  </div>
</div>