{% capture between_content %}
<div class="title-content col-md-8">
  <h1>Get involved</h1>
  <h4>Find ways to help in <span class="highlight">Columbus</span></h4>
  <div class="d-flex help-button-group">
    <a
      class="btn btn-primary dark-purple"
      href="/volunteer.html"
      target="_blank"
    >
    <i class="fas fa-external-link-alt"></i>&nbsp;Volunteer
    </a>
  </div>
</div>
{% endcapture %}

<div class="jumbotron">
  {% include nav.html between=between_content %}
</div>

<div class="jumbotron">
  <h2>Mission statement</h2>
  <p>
    Can't Stop Columbus is a community-wide movement that addresses problems that
    have arisen due to the COVID-19 crisis. Activating our city's talents and passions, we're
    putting bold ideas into action to deliver real solutions that unite our community.
  </p>
</div>