---
---
$brand-success: #FF8F1C;
$brand-info: #01426A;
$brand-warning: #6787B7;
$brand-danger: #E0004D;

$theme-colors: (
  "primary": #4300FF,
);

@import "bootstrap/bootstrap";
@import "main";

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color:#ECF0F6;
  color: #000000;
}

.dark-bg {
  background-color: #ECF0F6;
}

.jumbotron {
  background-color: #ffffff;
}

.highlight {
  color: #4300FF;
  font-weight: bold;
}
.footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #ffffff;
}
