{% capture between_content %}
  <div class="title-content col-md-8">
    <h1>Press Release</h1>
    <h4>Read about the impact of <span class="highlight">Can't Stop Columbus</span></h4>
    <div class="d-flex help-button-group">
      <a  class="btn btn-primary btn-lg dark-purple"
          role="button"
          href="https://airtable.com/shr6r8e5dIaTfke5z/tbl1mR3hyIJoKxwox?blocks=hide"
          >
          <i class="fa fa-external-link-alt"></i>&nbsp;Volunteer
        </a>
    </div>
  </div>
{% endcapture %}

<div class="jumbotron mb-1">
  {% include nav.html between=between_content  %}
</div>
