<div class="jumbotron background-white">
  <div class="row">
    <div class="col-md-12">
      <h2>About <span class="purple-font">US</span></h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 on-sunday-march-15">
      <h4>
        <span class="purple-font">Mission</span> 
      </h4>
      <p>Can't Stop Columbus is a community-wide movement that addresses problems that have arisen due to the COVID-19 crisis. 
        Activating our city's talents and passions, we're putting bold ideas into action to deliver real solutions that unite our community.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 on-sunday-march-15">
      <h4>
        <span class="purple-font">Vision</span>
      </h4>
      <p>
        We envision a city that not only survives the challenges created by this global pandemic, but emerges <b>stronger</b> and <b>more resilient</b>. 
        <b>Stronger</b> because the solutions delivered by Can’t Stop Columbus have made a difference in the lives of those most impacted by COVID-19. 
        <b>More resilient</b> because CSC has created a model for a more targeted and efficient approach to delivering solutions to our community’s most urgent needs 
        by tapping into our city’s deep pool of talented, highly-skilled and community-minded professionals.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/447194842" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <p><a href="https://vimeo.com/447194842">Overview_CantStopCbusFinal</a> from <a href="https://vimeo.com/user119001549">Savannah Ranz</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
</div>