<div class="jumbotron text-center background-white">
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">We're <span class="primary-blue">Just</span> Getting Started</p>
    </div>
  </div>
  </br>
  <div class="col-md-12">
    <div class="card-deck" id="carousel2">
      <project-card v-for="proj in carouselProjects()" v-bind:project="proj">
      </project-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 my-2">
      <a
      class="btn btn-secondary btn-lg"
      role="button"
      href="/find-help.html"
      >
        VIEW ALL RESOURCES
      </a>
      <!-- <a class="mt-4 btn btn-outline-primary btn-lg dark-bg" href="mailto:hello@cantstopcolumbus.com?Subject=Submit%20a%20Resource">
        <i class="fa fa-envelope-square"></i>&nbsp;Submit a Resource</a> -->
    </div>
  </div>
</div>


