<div class="jumbotron text-center background-white">
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">We're <span class="primary-blue">Just</span> Getting Started</p>
    </div>
  </div>
  </br>
  <div class="col-md-12">
    <div class="card-deck">
      <!-- <button class="btn btn-secondary" style="color:black; height: 2.5em; vertical-align: auto;">
        <i class="fas fa-arrow-left"></i>
      </button> -->
      <div class="card col-md-3 mx-1 my-2">
        <img style="height: 50%;" src="assets/img/UX/projects/ohioready_logo_H_2c@4x.png" class="card-img-top">
        <div class="card-body">
          <a href="https://ohioready.org/" target="_blank"><h5 class="card-title">Ohio is Ready</h5></a>
          <p class="card-text">Trustworthy information, data, and news on COVID-19. Brought to you by the community at Can’t Stop Columbus.</p>
        </div>
      </div>
      <div class="card col-md-3 mx-1 my-2">
        <div style="height: 50%; padding-top:20px;">
          <span class="helper"></span><img style="vertical-align: middle;" src="assets/img/UX/projects/columbus-eats.png" class="card-img-top">
        </div>
        <div class="card-body">
          <a href="https://supportcolumbuseats.com/" target="_blank"><h5 class="card-title">Support Columbus Eats</h5></a>
          <p class="card-text">A current list of restaurants open with info on how to order</p>
        </div>
      </div>
      <div class="card col-md-3 mx-1 my-2">
        <div style="height: 50%; padding-top:20px;">
          <span class="helper"></span><img style="vertical-align: middle;" src="assets/img/UX/projects/CurbsideConcert_logo.svg" class="card-img-top">
        </div>
        <div class="card-body">
          <a href="https://sendaconcert.herokuapp.com" target="_blank"><h5 class="card-title">Curbside Concerts</h5></a>
          <p class="card-text">Send a live curbside concert to someone you care about.</p>
        </div>
      </div>
      <div class="card col-md-3 mx-1 my-2">
        <div style="height: 50%; padding-top:30px;">
          <span class="helper"></span><img style="vertical-align: middle;" src="assets/img/UX/projects/columbushelperorg.png" class="card-img-top">
        </div>
        <div class="card-body">
          <a href="https://www.columbushelper.org/" target="_blank"><h5 class="card-title">Columbus Helper</h5></a>
          <p class="card-text">Up to date Covid-19 resources from the City of Columbus</p>
        </div>
      </div>
      <!-- <button class="btn btn-secondary" style="color:black; height: 2.5em;">
        <i class="fas fa-arrow-right"></i>
      </button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a
      class="btn btn-secondary"
      role="button"
      href="/find-help.html"
      >
        VIEW ALL RESOURCES
      </a>
      <!-- <a class="mt-4 btn btn-outline-primary btn-lg dark-bg" href="mailto:hello@cantstopcolumbus.com?Subject=Submit%20a%20Resource">
        <i class="fa fa-envelope-square"></i>&nbsp;Submit a Resource</a> -->
    </div>
  </div>
</div>
