<div class="jumbotron text-center background-white">
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">We're <span class="primary-blue">Just</span> Getting Started</p>
    </div>
  </div>
  </br>
  <div class="col-md-12">
    <div class="card-group" id="carousel2">
      <project-card v-for="proj in carouselProjects" v-bind:project="proj">
      </project-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-2">
      <a
      class="btn btn-secondary btn-lg m-1"
      role="button"
      href="/find-help.html"
      >
        VIEW ALL RESOURCES
      </a>
      <a
      class="btn btn-secondary btn-lg m-1"
      role="button"
      target="_blank"
      href="https://sites.google.com/view/csc-project-central"
      >
        VIEW PROJECT CENTRAL SITE
      </a>
    </div>
  </div>
</div>


