<div class="jumbotron">
    <h2>Contact <span class="purple-font">US</span></h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Looking to volunteer?</h3>
            <a
                class="btn btn-secondary" role="button"
                href="/get-involved.html" target="_blank">
                I WANT TO HELP
            </a>
        </div>
        <div class="col-md-6 d-flex flex-column contact-us-links">
            <div class="d-flex flex-row align-items-center">
                <a
                    class="btn btn-secondary mr-3"
                    role="button" href="mailto:hello@cantstopcolumbus.com?Subject=Submit%20a%20Resource"
                    target="_blank">
                        <img src="../assets/img/UX/icons/ico_mail.svg">
                </a>
                <h2 class="purple-font small-phone" style="text-align:left;">hello@cantstopcolumbus.com</span></h2>
            </div>
            <!-- <div class="d-flex flex-row align-items-center">
                <a class="btn btn-secondary mr-3" role="button"
                        href="http://slack.cantstopcolumbus.com/" target="_blank">
                    <img src="../assets/img/UX/icons/ico_slack.svg">
                </a>
                <h2 class="purple-font small-phone" style="text-align:left;">slack.cantstopcolumbus.com/</span></h2>
            </div> -->
        </div>
    </div>
</div>
