<div class="jumbotron text-center background-white">
  <div class="row">
    <div class="col-md-12">
      <p class="subtitle" style="display:inline">Watch the impact of our projects</p>
      <br>
    </div>
  </div>
  <br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      src="https://www.youtube.com/embed/UsMiRSII19g"
      style="border:none;overflow:hidden"
      class="embed-responsive-item"
      scrolling="no"
      frameborder="0"
      allowTransparency="true"
      allowFullScreen="true"></iframe>
  </div>
</div>
